body.not-found
    include ../blocks/_header--colored
    main
        include ../blocks/404-page/_bBrad-cramps
        include ../blocks/404-page/_not-found__error
    include ../blocks/_footer
    script(src='js/scripts.min.js')