body.b-article
	include ../blocks/_header--colored
	main
		include ../blocks/article-page/_bBrad-cramps
		.container
			.article-content
				include ../blocks/article-page/_article
				include ../blocks/article-page/_aside
			include ../blocks/article-page/_bPagin
	include ../blocks/_footer
	script(src='js/scripts.min.js')