body.b-blog
	include ../blocks/_header--colored
	main
		include ../blocks/blog-page/_bBrad-cramps
		include ../blocks/blog-page/_bMain-title
		.container
			.blog-content
				include ../blocks/blog-page/_posts-list
				include ../blocks/blog-page/_aside
			include ../blocks/blog-page/_bPagin
	include ../blocks/_footer
	script(src='js/scripts.min.js')