body.found
    include ../blocks/_header--colored
    main
        include ../blocks/found-page/_bBrad-cramps
        include ../blocks/found-page/_bMain-title
        .container
            .found__content
                include ../blocks/found-page/_bAside
                include ../blocks/found-page/_bGoods
    include ../blocks/_footer
    script(src='js/scripts.min.js')