doctype html
head
    meta(charset='utf-8')
    title Template
    meta(name='description' content='')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    // Include FontAwesome 5
    <link rel="icon" type="image/png" href="img/favicon.png">
    link(href="https://fonts.googleapis.com/css?family=Playfair+Display:700&display=swap&subset=cyrillic" rel="stylesheet")
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css')
    // Main Style
    link(rel='stylesheet' href='css/main.min.css')
    // Sharing

    // Fav

    // Global site tag (gtag.js) - Google Analytics
