body
    include ../blocks/_header
    main
        //include ../blocks/index-page/_bBanner
        include ../blocks/index-page/_bLooking
        include ../blocks/index-page/_bCats
        include ../blocks/index-page/_bAbout
        include ../blocks/_footer
    script(src='js/scripts.min.js')
