body.b-product
    include ../blocks/_header--colored
    main
        include ../blocks/product-page/_bBrad-cramps
        include ../blocks/product-page/_bProduct-info
        include ../blocks/product-page/_bHashtags
        include ../blocks/product-page/_bProduct-slider
        include ../blocks/product-page/_bPosts
    include ../blocks/_footer
    script(src='js/scripts.min.js')