body.b-raitings
    include ../blocks/_header--colored
    main
        include ../blocks/raitings-page/_bBrad-cramps
        include ../blocks/raitings-page/_bMain-title
        .container
            .raitings__content
                include ../blocks/raitings-page/_bAside-rtg
                .raitings__main
                    include ../blocks/raitings-page/_bRaitings-text
                    include ../blocks/raitings-page/_bSelects
                    include ../blocks/raitings-page/_bCards

    include ../blocks/_footer
    script(src='js/scripts.min.js')