.not-found__error
    img(src="img/404/404.png" alt="Picture").not-found__img
    h1.not-found__title Страница не найдена
    p.not-found__descr Неправильно набран адрес или такой страницы на сайте больше не существует

    a.not-found__btn Вернуться на главную
