
.b-about__title .b-title__box:after {
  content: "03";
}

.b-about__title .b-title__descr {
  margin-top: 20px;
}

.b-about {
  padding: 128px 0 152px 0;
  background-color: $s-gray;

  &__posts {
    margin-top: 111px;
    margin-bottom: 142px;
  }

  &__post {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 72px;
  }

  &__image {
    width: 33%;
    margin-right: 110px;
  }

  &__text {
    max-width: 640px;
  }

  &__postdate {
    color: rgba(39, 19, 23, 0.2);
  }

  &__posttitle {
    color: $accent;
    @include font(24);
    font-family: $fair-bold;
    line-height: 32px;
    margin-bottom: 32px;
  }

  &__postdescr {
    color: $text;
    margin-bottom: 56px;
    font-family: $latoLight;
  }

  &__postlink {
    font-family: $fair-bold;
    line-height: 24px;
    color: $accent;
    letter-spacing: 0.4px;
    position: relative;
    display: inline-block;
    &:after {
      @include pseudo();
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $text;
      transform: scaleX(0);
      transform-origin: 100% 0;
      transition: transform .5s cubic-bezier(1,.07,.05,.95),-webkit-transform .5s cubic-bezier(1,.07,.05,.95);
    }
    &:hover:after {
      transform: scaleX(1);
      transform-origin: 0 100%;
    }

    &:hover {
      color: $text;
    }
  }

  &__descr {
    font-size: 14px;
    color: $text;
    margin-bottom: 23px;
  }

  &__textitem {
    font-size: 14px;
    color: $text;
    padding-left: 18px;
    position: relative;

    &:after {
      @include pseudo();
      width: 5px;
      height: 1px;
      background-color: $text;
      left: 0;
      top: 50%;
    }
  }
}

.b-about__title .b-title__text {
  top: 26% !important;
}


@media only screen and (max-width: 1150px) {
  .b-about__title .b-title__descr {
    margin-top: 0;
  }

  .b-about {
    &__post {
      flex-direction: row;
    }

    &__text {
      max-width: 60%;
      margin-left: 30px;
    }

    &__image {
      margin-right: 0;
      width: 40%;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .b-about__text {
    width: 50%;
  }

  .b-about__image {
    width: 50%;
  }
}

@media only screen and (max-width: 992px) {
  .b-about__post {
    flex-direction: column;
    align-items: center;
  }

  .b-about__text {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
  }

  .b-about__image {
    width: 100%;
  }
}


@media only screen and (min-width: 1140px) {
  .b-about__title .b-title__text {
    right: 9% !important;
  }
}


