.b-looking {
  padding-top: 134px;
  padding-bottom: 44px;
  background-color: $s-gray;
  &__title {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1140px) {
  .b-looking .b-title__text {
    right: -13%;
  }
}