.b-card {
  position: relative;
  width: 256px;
  max-height: 415px;
  margin: 0 auto;
  cursor: pointer;
  overflow: hidden;
  top: 0;
  @include trs(all, .2s);
  &:hover {
    box-shadow: 0px 5px 10px rgba(39, 19, 23, 0.1);
    background-color: #fff;
    top: -30px;
    .b-card__info {
      padding-left: 16px;
      padding-top: 60%;
      top: 0;
      background-color: rgba(255, 255, 255, .65);
    }

    .b-card__details {
      background-color: #fff;
      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 33px;
        height: 17px;
        background: url("../img/arrow-right.svg") no-repeat;
        top: 50%;
        right: 16px;
        margin-top: -8px;
      }

      &:before {
        background-color: $text;
      }
    }
  }

  &__img-wrap {
    margin-bottom: 75px;
  }

  &__info {
    position: absolute;
    left: 0;
    top: 278px;
    height: 100%;
    width: 100%;
    z-index: 1;
    padding-right: 16px;
    padding-left: 0;
    @include trs(all, .2s);
  }

  &__title {
    font-family: $latoLight;
    @include font(16, 300);
    color: $accent;
    margin-bottom: 20px;
  }

  &__details {
    display: block;
    position: relative;
    padding-left: 56px;
    padding-bottom: 17px;
    padding-top: 17px;
    @include font(14);
    font-family: $fair-bold;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: $accent;
    width: 100%;
    background-color: $s-gray;
    z-index: 2;
    cursor: pointer;
    //@include trs(all, .2s);
    &:before {
      @include pseudo();
      width: 48px;
      height: 1px;
      background-color: $accent;
      top: 50%;
      left: 0;
      @include trs(all, .2s);
    }
    &:hover {
      color: $text;
      &:before {
        background-color: $text;
      }
    }
  }

  &__buttons {
    position: absolute;
    top: 0;
    right: 0;
    width: 84px;
    height: 15px;
  }

  &__location {
    color: $accent;
    font-weight: 600;
    font-size: 12px;
    margin-top: 27px;
  }
}

.b-card__rp, .b-card__gp, .b-card__vivino {
  font-family: $latoLight;
  font-size: 16px;
  margin-bottom: 0;
  strong {
    font-weight: 800;
  }
}













