.b-footer {
  text-align: center;
  background-color: $accent;
  color: #fff;
  padding: 48px 0;

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 44px;
    padding-bottom: 48px;
    margin-bottom: 47px;
    border-bottom: 1px solid $text;
  }

  &__item {
    display: inline-block;
  }

  &__link {
    margin-right: 130px;
    font-size: 16px;
    line-height: 24px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__nav-link {
    font-family: $mainFont;
    border-bottom: 1px solid transparent;
    @include trs(border-bottom);
    &:hover {
      border-bottom: 1px solid #fff;
    }
  }

  &__social {
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__social-link {
    path {
      @include trs(fill);
    }
    &:hover {
      path {
        fill: #EFECEA;
      }
    }
  }

  &__copyright {
    font-size: 14px;
    line-height: 24px;
    color: $text;
  }
}

@media only screen and (max-width: 860px) {
  .b-footer {
    &__item {
      margin-right: 30px;
    }
  }
}

@media only screen and (max-width: 520px) {
  .b-footer {
    &__navigation {
      flex-direction: column;
    }

    &__links {
      margin-bottom: 20px;
    }
  }

}
