
.b-looking-slider__buttons {
    position: absolute;
    top: 0;
    right: 0;
    width: 84px;
    height: 15px;
  }

.b-looking-slider__buttons .swiper-button-prev, .swiper-container-rtl .swiper-button-prev {
  background-image: url("../img/arrow-left.svg");
  background-size: contain;
  transform: rotate(180deg);
  opacity: 0.65;
  left: 58%;
  @include trs(all);
  &:hover {
    opacity: 1;
  }
}

.b-looking-slider__buttons .swiper-button-next, .swiper-container-rtl .swiper-button-next {
  background-image: url("../img/arrow-left.svg");
  background-size: contain;
  left: 0;
  opacity: 0.65;
  @include trs(all);
  &:hover {
    opacity: 1;
  }
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0;
}

.b-looking-slider-pagination .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: rgba(39, 19, 23, 0.1);
  opacity: 1;
}

.b-looking-slider-pagination .swiper-pagination-bullet-active {
  background: #6E6660;
  opacity: 1;
  width: 8px;
  height: 8px;
}

.b-looking-slider .swiper-container {
  padding-top: 162px;
  padding-bottom: 30px;
}

.b-looking-slider .swiper-slide .swiper-slide-active {
  display: flex;
}

@media only screen and (max-width: 570px) {
  .b-looking-slider__buttons {
    top: 30px;
  }
}


