.mark {
  display: inline-block;
  @include font(13);
  font-family: $latoLight;
  color: #fff;
  background-color: $accent;
  padding: 0 40px 0 16px;
  position: relative;
  margin-right: 20px;
  cursor: pointer;
  &:after, &:before {
    @include pseudo();
    top: 50%;
    right: 15px;
    width: 13px;
    height: 1px;
    background-color: #fff;
  }

  &:after {
    transform: translateY(-50%) rotate(45deg);
  }

  &:before {
    transform: translateY(-50%) rotate(-45deg);
  }
}

.mark--default {
  position: relative;
  &:after, &:before {
    display: none;
  }

  margin-right: 0;
  padding: 0 16px;

  strong {
    position: relative;
    padding-left: 24px;
    display: inline-block;

    &:before {
      @include pseudo();
      width: 8px;
      height: 1px;
      background-color: #fff;
      top: 50%;
      left: 8px;
    }
  }
}