.b-cats__subtitle {
  display: none;
  color: $accent;
  margin-top: 32px;
  margin-bottom: 24px;
  font-weight: 600;
}

.b-cats__searchwrap {
  display: none;
  position: absolute;
  top: 2%;
  left: 20%;
  width: 73%;
  height: 48px;
  z-index: 2;
  background-color: #fff;
}

.b-cats__searchwrap--visible {
  display: block;
}


.js-field-erase {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 260px;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  z-index: 3;
  cursor: pointer;

  &:before, &:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 13px;
    height: 1px;
    background-color: $text;
    opacity: 1;
    @include trs();
  }

  &:before {
    transform: translate(-50%, -50%) rotate(-45deg)
  }

  &:after {
    transform: translate(-50%, -50%) rotate(45deg)
  }

  &:hover {
    .js-close-full:before, .js-close-full::after {
      opacity: 0.65;
    }
  }
}

.js-field-erase--visible {
  display: block;
  outline: none;
}

.b-cats__search {
  padding-right: 30px;
  padding-right: 30px;
  max-width: 256px;
  height: 100%;
  width: 100%;
  font-size: 16px;
  color: $accent;
  background-color: #fff;
  border: none;
  padding-left: 42px;
  margin-left: 30px;
  background-image: url("../img/search.svg");
  background-position: left center;
  background-repeat: no-repeat;
  &::placeholder {
    color: $text;
    @include trs();
  }
  &:hover {
    .b-cats__search::placeholder {
      color: $accent;
    }
  }

  &::-webkit-search-decoration {
    display: none;
  }
  &::-webkit-search-cancel-button {
    display: none;
  }
  &::-webkit-search-results-button {
    display: none;
  }
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.js-close-full {
  display: none;
  position: absolute;
  top: 30px;
  right: 30px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  z-index: 3;

  &:before, &:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 13px;
    height: 1px;
    background-color: $text;
    opacity: 1;
    @include trs();
  }

  &:before {
    transform: translate(-50%, -50%) rotate(-45deg)
  }

  &:after {
    transform: translate(-50%, -50%) rotate(45deg)
  }

  &:hover {
    .js-close-full:before, .js-close-full::after {
      opacity: 0.65;
    }
  }
}

.b-cats--active {
  border: none;
  padding-top: 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 21%;
  z-index: 1;

  .b-cats__subtitle {
    display: block;
  }

  .b-cats__photo {
    display: none;
  }
}

.b-cats__full {
  display: none;
  padding: 88px 13px 72px 24px;
  box-shadow: 0px 3px 10px rgba(39, 19, 23, 0.2);
  overflow: hidden;
}

.b-cats__full--active {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-left: 21%;
  top: 0;
  right: 0;
  background-color: #fff;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 97%;
    height: 72px;
    background-color: #fff;
  }
}

.js-close-full--visible {
  display: block;
}

.b-cats__full .b-cats__item {
  margin-right: 45px;
  margin-bottom: 20px;
  width: 20%;
}


.mCustomScrollBox {
  width: 100%;
  overflow: visible;
}

.mCSB_inside>.mCSB_container {
  display: flex;
  padding-left: 24px;
  border-left: 1px solid #c4c4c4;
}

.mCSB_scrollTools .mCSB_draggerContainer {
  height: 115%;
}

.mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #F6F6F6;
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: rgba(39, 19, 23, 0.1);
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_onDrag .mCSB_dragger_bar, .mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
  background-color: rgba(39, 19, 23, 0.1);
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
  background-color: rgba(39, 19, 23, 0.1);
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background: rgba(39, 19, 23, 0.1);
}

@media only screen and (max-width: 1150px) {
  .b-cats--active {
    width: 25%;
  }

  .b-cats__full--active {
    padding-left: 25%;
  }
}

@media only screen and (max-width: 1240px) {
  .b-cats--active {
    top: 60px;
  }

  .b-cats__searchwrap {
    top: 1%;
    left: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .mCSB_inside>.mCSB_container {
    flex-wrap: wrap;

  }

  .b-cats--active {
    width: 30%;
  }

  .b-cats__full--active {
    padding-left: 30%;
  }
}

@media only screen and (max-width: 840px) {
  .b-cats--active {
    width: 40%;
  }

  .b-cats__full--active {
    padding-left: 40%;
  }

  .b-cats__full .b-cats__item {
    margin-right: 0;
    width: 50%;
  }
}

@media only screen and (max-width: 650px) {
  .b-cats--active {
    width: 50%;
  }

  .b-cats__full--active {
    padding-left: 50%;
  }

  .b-cats__full .b-cats__item {
    text-align: center;
    margin-right: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 495px) {
  .b-cats__searchwrap {
    top: 11px;
  }

  .js-field-erase--visible {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .b-cats--active {
    width: 50%;
    text-align: left;
    padding-right: 5px;
    .b-cats__link {
      font-size: 0.8rem;
      white-space: normal;
    }
  }

  .b-cats__full--active {
    padding-left: 50%;
    .b-cats__link {
      font-size: 0.8rem;
    }
  }

  .b-cats__full .b-cats__item {
    text-align: center;
    margin-right: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 360px) {
  .b-cats--active {
    width: 55%;
    .b-cats__link {
      font-size: 0.8rem;
      white-space: normal;
    }
  }

  .b-cats__full--active {
    padding-left: 55%;
    .b-cats__link {
      font-size: 0.8rem;
    }
  }

  .b-cats__full .b-cats__item {
    text-align: center;
    margin-right: 0;
    width: 100%;
  }

  .mCSB_inside>.mCSB_container {
    padding-left: 10px;
  }
}
