.b-article
	h1.b-article__title Новый Свет в сердце Франции
	ul.b-article__date-list 
		li.b-article__date-item.b-article__date
			time(datatime="2019-03-24") 24 Марта 2019
		li.b-article__date-item.b-article__time
			span 10 минут на чтение	

	p.b-article__blockquote  Франсуа и Жак Люртон, представители самой известной династии виноделов Бордо, утверждают, что Лангедок является лучшим местом для производства сортовых вин. Говоря, что этот французский регион обладает менталитетом Нового Света, они сравнивают земли Бордо и Лангедока в пользу этой тулузской провинции. Прекрасные лангедокские вина красноречиво и убедительно подтверждают эти слова.

	h2.b-article__h2 Тулузский феномен

	p.b-article__text  С древних времён столицей Лангедока была Тулуза, четвёртый по величине французский город после Парижа, Лиона и Марселя. В её истории переплелись судьбы населявших её греков, римлян, кельтов, вестготов. Прекрасная старинная архитектура из кирпича светло-красного оттенка дала повод туристом называть Тулузу «розовым городом». Это город церквей и монастырей, живописи эпохи Возрождения и фестивалей органной музыки. Сегодня Тулуза — это высокотехнологичный центр авиационной промышленности Франции, город студентов и предпринимателей, город хорошей кухни и восхитительных вин.

	p.b-article__text На первый взгляд этот винодельческий регион кажется странным и разнородным, поскольку возникает впечатление будто каждая апелляция имеет несходные вина и сорта винограда.

	p.b-article__text По мнению французского ампелографа Ги Лавиньяка, существует очень древняя взаимосвязь между винодельческими районами региона Юго-Запад. Каждый сорт винограда принадлежит к обширному семейству, а эти семейства едины для южных районов:		

	ul.b-article__list
		li.b-article__item Семейство Cotoïdes (мальбек, негретт, танна, прюнелар);  
		li.b-article__item 	Семейство Carmenets (каберне фран, каберне совиньон, карменер, фер серваду, мерло…); 
		li.b-article__item Семейство Folloïdes (пикаполь, жюрансон блан, жюрансон нуар…);

	.b-article__img-wrap
		img(src="img/article-page/1.jpg", alt="Photo")

	p.b-article__note Тулузский феномен выражается в согласованном симбиозе истории и современности. Здесь удивительным образом уживаются в гармонии традиции и новаторство, уважение к предкам и свобода от стереотипов.

	p.b-article__text  За долгую историю эта производительная винодельческая область переживала и взлёты, и падения. Открытие в 17 веке Южного канала, соединившего Атлантику со Средиземным морем, способствовало бурному развитию виноделия и торговли, а нашествие филлоксеры двумя веками позднее привели к уничтожению большей части виноградников. Недостаток субсидий в регион долгое время отражался на массовом производстве дешёвых безликих вин, когда лоза безжалостно эксплуатировалась, а урожаи шли лишь на простенькие купажные вина.

	p.b-article__text Эта ситуация изменилась лишь в 90х годах, когда политика, направленная на создание вина высокого качества, подняла престиж региона на завидную высоту. Современный Лангедок-Руссийон является самым инновационным винодельческим районом Франции. 

	p.b-article__text Виноградники Лангедок-Руссийона занимают площадь в три раза большую, чем все виноградники Бордо. Пёстрая мозаика почв и мягкий средиземноморский климат позволяют виноделам успешно культивировать самые разные лозы. Статистика утверждает, что одна из десяти бутылок всего производимого в мире вина приходится на регион Лангедок-Руссийон.
	
	h2.b-article__h2 Волшебники страны Ок

	p.b-article__text Чтобы противостоять сельскохозяйственным кризисам, виноделы Лангедока объединились под собственной торговой маркой, выпуская «вино страны Ок» — Vin de Pays d'Oc. Регламентация определённых участков виноградников и сортов винограда, разработка новых технологических методов производства стали защитой от плохого качества вина и общим повышением статуса региона. Виноделы стали массово использовать бродильные чаны, позволяющие контролировать температуру. Они дали жизнь многим незаслуженно забытым местным лозам и резко снизили урожайность. В Лангедок-Руссийоне на сегодняшний день одна из самых низких во Франции урожайность — 33 гектолитра.

	p.b-article__text Со временем сортовые вина стали удовлетворять высоким стандартам потребительского рынка, и случилось чудо — из региона столовых вин невысокого качества Лангедок-Руссийон совершил качественный скачок на более высокую ступень, став родиной ярких самобытных вин.

	p.b-article__note  Вина Vin de Pays d’Oc получили признание на международном уровне с правом указывать на этикетке сорт винограда и место его произрастания.

	p.b-article__text Если вспоминать подробности восхождения местных вин Лангедока-Руссийона на мировой эно-олимп, то нельзя не рассказать о виноделах-первопроходцах, создававших своим упорством и трудолюбием этот блистательный триумф.

	p.b-article__text В 80х годах все участники международных дегустаций неожиданно вывели на первое место вино лангедокского хозяйства Мас де Дома Гассак. Это вино опередило лучшие статусные вина Медока и другие бордоские Гран Крю.

	p.b-article__text Вино Mas de Daumas Gassac, созданное простым мастером кожевенных дел по имени Эмме Гибер, завоевало превосходные оценки самых неподкупных винных авторитетов. Майкл Бродбент, обладатель почётного титула Master of Wine и член Международный Академии Вина, сказал о нём: «Это одно из десяти самых лучших вин в мире». Один из ведущих винных критиков Роберт Паркер назвал этот вино «исключительным». Британский винный эксперт Хью Джонсон окрестил Mas de Daumas Gassaс «Гран Крю Юга Франции», а ресторанный гид Gault Millau дал ему определение «Лафит Лангедока».

	p.b-article__text Трудно подобрать слова, чтобы попытаться описать глубокий фиолетовый цвет вина Мас де Дома Гассак, его пленительный букет, соблазняющий оттенками фруктов и душистых трав, минералов и мокрого камня, кедра и черники, специй и копчёностей. В его аромате можно уловить нюансы шелковицы и белого перца, а также редкие ноты йода. Это вино из тех, что скупают ящиками, что нравится как опытным специалистам, так и обычным дилетантам.

	p.b-article__text За Гибером шли другие виноделы, подтверждая своими винами открытие нового достойнейшего винодельческого региона. Этих людей можно назвать волшебниками, создающими своими руками подлинные шедевры винодельческого искусства. Будучи пионерами в своей области, виноделы страны Ок в своём стремлении к совершенству упрямо преодолевали любые преграды, добиваясь успеха «не благодаря, а вопреки».

	.b-article__double-img 
		img(src="imf/article-page/2.jpg", alt="Photo")
		img(src="imf/article-page/3.jpg", alt="Photo")


	h2.b-article__h2 Южнофранцузская сортовая палитра

	p.b-article__text Местные почвы поражают разнообразием, от чёрных сланцев апелласьона Мори и окатанного галечника Люнеля до красных известняков Корбьера и кремниевых склонов Лиму. Виноделы занимаются селекцией ассамбляжей не только по виноградным сортам, урожаям, но и по почвам.

	p.b-article__text Последние два десятилетия в Лангедок-Руссийоне всё чаще и решительней используется метод карбонической мацерации, при котором винифицируются целые несмятые виноградины. В закрытом чане, заполненном углекислым газом, под кожицей каждой ягодки бродит её сок. Этот технологический приём обеспечивает особенное развитие вкусового и ароматического букета, в котором главенствует сочный фруктовый вкус. 

	p.b-article__text Лангедок-Руссийон считается областью красного виноделия. Знатоки ценят типичные землисто-перечные оттенки изысканных красных вин Руссийона и мясистые и сочные травянисто-фруктовые вина Лангедока.

	p.b-article__text Белые вина Лангедок-Руссийона подкупают упоительным ароматом и множеством вкусовых вариаций в рамках одного сорта. Технология их производства постоянно меняется, благодаря чему появляются новые оригинальные букеты.

	//- p.b-article__note	Даже международные сорта на землях Лангедок-Руссийона выглядят как выходцы из Австралии или Калифорнии. Виноделы этого региона заявили о своей серьёзности и готовности выпускать вина, достойные национальной славы.

	p.b-article__text Что касается сортового разнообразия, то виноделы Лангедок-Руссийона официально используют более трёх десятков лоз. Для традиций классического французского виноделия это неслыханная вольность. Из красновинных сортов чаще других используется:	
			

	






