.b-article
	.b-article__text-wrap
		h1.b-article__title Новый Свет в сердце Франции
		ul.b-article__date-list 
			li.b-article__date-item.b-article__date
				time(datatime="2019-03-24") 24 Марта 2019
			li.b-article__date-item.b-article__time
				span 10 минут на чтение	

		p.b-article__blockquote  Франсуа и Жак Люртон, представители самой известной династии виноделов Бордо, утверждают, что Лангедок является лучшим местом для производства сортовых вин. Говоря, что этот французский регион обладает менталитетом Нового Света, они сравнивают земли Бордо и Лангедока в пользу этой тулузской провинции. Прекрасные лангедокские вина красноречиво и убедительно подтверждают эти слова.
			.b-article__text-block
				h2.b-article__h2 Тулузский феномен

				p.b-article__text  С древних времён столицей Лангедока была Тулуза, четвёртый по величине французский город после Парижа, Лиона и Марселя. В её истории переплелись судьбы населявших её греков, римлян, кельтов, вестготов. Прекрасная старинная архитектура из кирпича светло-красного оттенка дала повод туристом называть Тулузу «розовым городом». Это город церквей и монастырей, живописи эпохи Возрождения и фестивалей органной музыки. Сегодня Тулуза — это высокотехнологичный центр авиационной промышленности Франции, город студентов и предпринимателей, город хорошей кухни и восхитительных вин.

				p.b-article__text На первый взгляд этот винодельческий регион кажется странным и разнородным, поскольку возникает впечатление будто каждая апелляция имеет несходные вина и сорта винограда.

				p.b-article__text По мнению французского ампелографа Ги Лавиньяка, существует очень древняя взаимосвязь между винодельческими районами региона Юго-Запад. Каждый сорт винограда принадлежит к обширному семейству, а эти семейства едины для южных районов:		

				ul.b-article__list
					li.b-article__item Семейство Cotoïdes (мальбек, негретт, танна, прюнелар);  
					li.b-article__item 	Семейство Carmenets (каберне фран, каберне совиньон, карменер, фер серваду, мерло…); 
					li.b-article__item Семейство Folloïdes (пикаполь, жюрансон блан, жюрансон нуар…);

				.b-article__img-wrap
					img(src="img/article-page/1.jpg", alt="Photo")

				p.b-article__note Тулузский феномен выражается в согласованном симбиозе истории и современности. Здесь удивительным образом уживаются в гармонии традиции и новаторство, уважение к предкам и свобода от стереотипов.

				p.b-article__text  За долгую историю эта производительная винодельческая область переживала и взлёты, и падения. Открытие в 17 веке Южного канала, соединившего Атлантику со Средиземным морем, способствовало бурному развитию виноделия и торговли, а нашествие филлоксеры двумя веками позднее привели к уничтожению большей части виноградников. Недостаток субсидий в регион долгое время отражался на массовом производстве дешёвых безликих вин, когда лоза безжалостно эксплуатировалась, а урожаи шли лишь на простенькие купажные вина.

				p.b-article__text Эта ситуация изменилась лишь в 90х годах, когда политика, направленная на создание вина высокого качества, подняла престиж региона на завидную высоту. Современный Лангедок-Руссийон является самым инновационным винодельческим районом Франции. 

				p.b-article__text Виноградники Лангедок-Руссийона занимают площадь в три раза большую, чем все виноградники Бордо. Пёстрая мозаика почв и мягкий средиземноморский климат позволяют виноделам успешно культивировать самые разные лозы. Статистика утверждает, что одна из десяти бутылок всего производимого в мире вина приходится на регион Лангедок-Руссийон.
			
		h2.b-article__h2 Волшебники страны Ок

		p.b-article__text Чтобы противостоять сельскохозяйственным кризисам, виноделы Лангедока объединились под собственной торговой маркой, выпуская «вино страны Ок» — Vin de Pays d'Oc. Регламентация определённых участков виноградников и сортов винограда, разработка новых технологических методов производства стали защитой от плохого качества вина и общим повышением статуса региона. Виноделы стали массово использовать бродильные чаны, позволяющие контролировать температуру. Они дали жизнь многим незаслуженно забытым местным лозам и резко снизили урожайность. В Лангедок-Руссийоне на сегодняшний день одна из самых низких во Франции урожайность — 33 гектолитра.

		p.b-article__text Со временем сортовые вина стали удовлетворять высоким стандартам потребительского рынка, и случилось чудо — из региона столовых вин невысокого качества Лангедок-Руссийон совершил качественный скачок на более высокую ступень, став родиной ярких самобытных вин.

		p.b-article__note.b-article__note--big-mr Вина Vin de Pays d’Oc получили признание на международном уровне с правом указывать на этикетке сорт винограда и место его произрастания.

		p.b-article__text Если вспоминать подробности восхождения местных вин Лангедока-Руссийона на мировой эно-олимп, то нельзя не рассказать о виноделах-первопроходцах, создававших своим упорством и трудолюбием этот блистательный триумф.

		p.b-article__text В 80х годах все участники международных дегустаций неожиданно вывели на первое место вино лангедокского хозяйства Мас де Дома Гассак. Это вино опередило лучшие статусные вина Медока и другие бордоские Гран Крю.

		p.b-article__text Вино Mas de Daumas Gassac, созданное простым мастером кожевенных дел по имени Эмме Гибер, завоевало превосходные оценки самых неподкупных винных авторитетов. Майкл Бродбент, обладатель почётного титула Master of Wine и член Международный Академии Вина, сказал о нём: «Это одно из десяти самых лучших вин в мире». Один из ведущих винных критиков Роберт Паркер назвал этот вино «исключительным». Британский винный эксперт Хью Джонсон окрестил Mas de Daumas Gassaс «Гран Крю Юга Франции», а ресторанный гид Gault Millau дал ему определение «Лафит Лангедока».

		p.b-article__text Трудно подобрать слова, чтобы попытаться описать глубокий фиолетовый цвет вина Мас де Дома Гассак, его пленительный букет, соблазняющий оттенками фруктов и душистых трав, минералов и мокрого камня, кедра и черники, специй и копчёностей. В его аромате можно уловить нюансы шелковицы и белого перца, а также редкие ноты йода. Это вино из тех, что скупают ящиками, что нравится как опытным специалистам, так и обычным дилетантам.

		p.b-article__text За Гибером шли другие виноделы, подтверждая своими винами открытие нового достойнейшего винодельческого региона. Этих людей можно назвать волшебниками, создающими своими руками подлинные шедевры винодельческого искусства. Будучи пионерами в своей области, виноделы страны Ок в своём стремлении к совершенству упрямо преодолевали любые преграды, добиваясь успеха «не благодаря, а вопреки».

		.b-article__doublle-wrap 
			img(src="img/article-page/2.jpg" alt="Photo").b-article__doublle-img
			img(src="img/article-page/3.jpg" alt="Photo").b-article__doublle-img


		h2.b-article__h2 Южнофранцузская сортовая палитра

		p.b-article__text Местные почвы поражают разнообразием, от чёрных сланцев апелласьона Мори и окатанного галечника Люнеля до красных известняков Корбьера и кремниевых склонов Лиму. Виноделы занимаются селекцией ассамбляжей не только по виноградным сортам, урожаям, но и по почвам.

		p.b-article__text Последние два десятилетия в Лангедок-Руссийоне всё чаще и решительней используется метод карбонической мацерации, при котором винифицируются целые несмятые виноградины. В закрытом чане, заполненном углекислым газом, под кожицей каждой ягодки бродит её сок. Этот технологический приём обеспечивает особенное развитие вкусового и ароматического букета, в котором главенствует сочный фруктовый вкус. 

		p.b-article__text Лангедок-Руссийон считается областью красного виноделия. Знатоки ценят типичные землисто-перечные оттенки изысканных красных вин Руссийона и мясистые и сочные травянисто-фруктовые вина Лангедока.

		p.b-article__text Белые вина Лангедок-Руссийона подкупают упоительным ароматом и множеством вкусовых вариаций в рамках одного сорта. Технология их производства постоянно меняется, благодаря чему появляются новые оригинальные букеты.

		p.b-article__note.b-article__note--big-mr Даже международные сорта на землях Лангедок-Руссийона выглядят как выходцы из Австралии или Калифорнии. Виноделы этого региона заявили о своей серьёзности и готовности выпускать вина, достойные национальной славы.

		p.b-article__text Что касается сортового разнообразия, то виноделы Лангедок-Руссийона официально используют более трёх десятков лоз. Для традиций классического французского виноделия это неслыханная вольность.

		p.b-article__text Из красновинных сортов чаще других используется:

		ul.b-article__num-list
			li.b-article__num-item <strong class="b-article__number">1.</strong>  <span>Благородное Каберне Совиньона.</span>
			li.b-article__num-item <strong class="b-article__number">2.</strong>  <span>Деликатное Мерло.</span> 
			li.b-article__num-item <strong class="b-article__number">3.</strong>  <span>Нежный Гренаш.</span> 
			li.b-article__num-item <strong class="b-article__number">4.</strong>  <span>Аристократический Сира.</span> 
			li.b-article__num-item <strong class="b-article__number">5.</strong>  <span>Насыщенный Кариньяно Мурведр.</span> 
			li.b-article__num-item <strong class="b-article__number">6.</strong>  <span>Бальзамический Мальбек.</span>			
		
		p.b-article__text Белые сорта представлены:	

		ul.b-article__num-list
			li.b-article__num-item <strong class="b-article__number">1.</strong>  <span>Совиньон Бланом.</span>
			li.b-article__num-item <strong class="b-article__number">2.</strong>  <span>Шардоне.</span>  
			li.b-article__num-item <strong class="b-article__number">3.</strong>  <span>Вионье. </span>
			li.b-article__num-item <strong class="b-article__number">4.</strong>  <span>Шенен Блан.</span> 
			li.b-article__num-item <strong class="b-article__number">5.</strong>  <span>Пти Мансан .</span> 
			li.b-article__num-item <strong class="b-article__number">6.</strong>  <span>Кларет.</span>
	
	
	.b-looking-slider.b-article__slider
		.swiper-container.js-article-slider
			.swiper-wrapper
				.swiper-slide.b-looking-slider__slide
					.b-card
						.b-card__label.b-label.b-label--absolute Сухое вино
						.b-card__img-wrap
							img.img-responsive(src="img/photos/11.png")
						.b-card__info
							h5.b-card__title Портвейн Quinta do Crasto, Porto Finest Reserve
							.b-card__rp RP <strong>90</strong>
							.b-card__gp GP <strong>90</strong>
							.b-card__vivino VIVINO <strong>3.6</strong>
							.b-card__location Испания, Кастилия Ла Манча, Рибера
						a.b-card__details Подробнее

				.swiper-slide.b-looking-slider__slide
					.b-card
						.b-card__label.b-label.b-label--absolute Сухое вино
						.b-card__img-wrap
							img(src="img/photos/12.png").img-responsive
						.b-card__info
							h5.b-card__title Портвейн Quinta do Crasto, Porto Finest Reserve
							.b-card__rp RP <strong>90</strong>
							.b-card__gp GP <strong>90</strong>
							.b-card__vivino VIVINO <strong>3.6</strong>
							.b-card__location Испания, Кастилия Ла Манча, Рибера
						a.b-card__details Подробнее

				.swiper-slide.b-looking-slider__slide
					.b-card
						.b-card__label.b-label.b-label--absolute Сухое вино
						.b-card__img-wrap
							img(src="img/photos/13.png").img-responsive
						.b-card__info
							h5.b-card__title Портвейн Quinta do Crasto, Porto Finest Reserve
							.b-card__rp RP <strong>90</strong>
							.b-card__gp GP <strong>90</strong>
							.b-card__vivino VIVINO <strong>3.6</strong>
							.b-card__location Испания, Кастилия Ла Манча, Рибера
						a.b-card__details Подробне


			.swiper-pagination.b-looking-slider-pagination

			.b-looking-slider__buttons
				.swiper-button-prev.b-looking-slider-prev
				.swiper-button-next.b-looking-slider-next
		
	.b-article__text-wrap

		.b-article__doublle-wrap
				img(src="img/article-page/4.jpg" alt="Photo").b-article__doublle-img
				img(src="img/article-page/5.jpg" alt="Photo").b-article__doublle-img

		p.b-article__text Особая категория местных вин — чудесные мускаты. Мускаты с разных виноградников обладают выраженными индивидуальными качествами и отличаются друг от друга.
		
		p.b-article__text Южнофранцузские терруары сегодня выпускают вина, претендующие стать достоянием страны. Категория Vin de Pays в Лангедок-Руссийоне уже разрослась до сотни наименований.

		h3.b-article__h3 Лучшие из лучших

		p.b-article__text Многочисленные апелласьоны Лангедок-Руссийона активно навёрстывают упущенное за долгие годы застоя. Среди наиболее успешных можно назвать регион Кото дю Лангедок. По мнению Роберта Паркера среди местных звёзд лучшим хозяйством является Шато де ля Негли, но с этим утверждением сегодня могут поспорить многие и многие блестящие винодельни.

		p.b-article__text Область Кото дю Лангедок занимает большую часть участков, пригодных для высококачественного виноделия. Жаркий и заслушливый климат, смягчённый средиземноморскими бризами, создаёт благоприятные условия для долгого и равномерного созревания винограда. Для вин Coteaux du Languedoc невозможно определить один характерный стиль. Вина Кото дю Лангедок могут изменяться от свежих и фруктовых до терпких, густых и вяжущих.

		p.b-article__text Многие субрегионы Кото дю Лангедок развиваются настолько успешно, что обретают самостоятельность. Каждая из коммун Кото дю Лангедок обладает собственной спецификой.

		p.b-article__text Самым древним является виноградник Минервуа, расположенный на каменистых почвах. Утончённые красные и розовые вина Минервуа обладают ароматом фиалки, а белые благоухают липой и вереском. 

		p.b-article__text Вина старейшего исторического виноградника Корбьер из его одиннадцати коммун обладают благородным букетом из нюансов подлеска, трюфелей и диких плодов. Бархатистые розовые вина соревнуются с белыми, ошеломляющими медовыми ароматами и пикантными оттенками аниса.

		p.b-article__text Виноградники Сен-Шиньян дают жизнь красным винам с необычным сосновым букетом и сложной структурой. Стильные розовые вина грациозны и элегантны.

		p.b-article__text Тихие и игристые вина Лиму известны далеко за пределами региона. Игристые вина Креман де Лиму и Бланкет де Лиму изготавливают на основе сорта Мозак с добавлением Шенен Блан и Шардонне. Упоминание об этих винах датируется записью 1531 года, ставя под сомнение первенство игристого вина из Шампани.

		p.b-article__text Сланцы живописного предгорья на высоте 200 м над уровнем моря дают более резкие и острые вина, тогда как глинистые и известковистые почвы долин Лангедок-Руссийона рождают более нежные и мягкие вина.

		.b-article__img-wrap.b-article__img-wrap--big-mr
			img(src="img/article-page/6.jpg", alt="Photo")

		p.b-article__text На виноградниках Кот дю Руссийон производят привлекательные низкокислотные красные вина на основе сортов Гренаш и Кариньяно. Это сложные маслянистые вина с осадком и характерным пряным, землистым и малиновым привкусом. Белые вина Кот дю Руссийон обладают изысканным букетом с цветочными нотами и оттенками цитрусовых и укропа.
		
		p.b-article__text Виноградники Баньюльс карабкаются по восточным террасам Пиренеев. Здесь выращивают Гренаш Нуар. Низкая урожайность винограда позволяет местным виноделам создавать тёмно-коричневые аристократические вина, богатые оттенками изюма, апельсина, шоколада, кофе, печёных фруктов, инжира, чернослива и какао. Эти вина обладают способностью к выдержке в несколько десятилетий.

		p.b-article__text Климат Руссийона способствует наибольшей концентрации сахара в винограде, и поэтому здесь производят большую часть сладких натуральных вин. Виноградник Ривсальт специализируется на сладких мускатах, изготовленных по древним традициям. Мускат Ривсальт пьют молодым, чтобы насладиться маслянистой текстурой и шелковистым вкусом абрикосов и лимонов.

		p.b-article__text Среди других мускатов наиболее известные — бархатистый Мускат Люнель, мощный Мускат Фронтиньян, медовый Мускат Мирваль, цветочный Мускат Сен-Жан-де-Минервуа, превосходный Клеретт дю Лангедок…

		p.b-article__text Подитожим всё вкусовые данные по виноградникам в небольшой таблице.

		ul.b-article__table
			li.b-article__table-item.b-article__table-item-head
				.b-article__item-name Виноградник
				.b-article__item-descr Вкус
			li.b-article__table-item
				.b-article__item-name Минервуа
				.b-article__item-descr Красные вина обладают ароматом фиалки, а белые благоухают липой и верескомс
			li.b-article__table-item
				.b-article__item-name Корбьер
				.b-article__item-descr Обладают благородным букетом из нюансов подлеска, трюфелей и диких плодов. Бархатистые розовые вина соревнуются с белыми, ошеломляющими медовыми ароматами и пикантными оттенками аниса.
			li.b-article__table-item
				.b-article__item-name Сен-Шиньян
				.b-article__item-descr Дают жизнь красным винам с необычным сосновым букетом и сложной структурой. Стильные розовые вина грациозны и элегантны.
			li.b-article__table-item
				.b-article__item-name Лиму
				.b-article__item-descr Тихие и игристые, изготавливают на основе сорта Мозак с добавлением Шенен Блан и Шардонне.
			li.b-article__table-item
				.b-article__item-name Лангедок-Руссийона
				.b-article__item-descr На высоте 200 м над уровнем моря дают более резкие и острые вина, тогда как глинистые и известковистые почвы рождают более нежные и мягкие вина.
			li.b-article__table-item
				.b-article__item-name Кот дю Руссийон
				.b-article__item-descr Привлекательные низкокислотные красные вина на основе сортов Гренаш и Кариньяно.		
			li.b-article__table-item
				.b-article__item-name Кот дю Руссийон
				.b-article__item-descr Привлекательные низкокислотные красные вина на основе сортов Гренаш и Кариньяно.
			li.b-article__table-item
				.b-article__item-name Баньюльс
				.b-article__item-descr Тёмно-коричневые аристократические вина, богатые оттенками изюма, апельсина, шоколада, кофе, печёных фруктов, инжира, чернослива и какао. 
			li.b-article__table-item
				.b-article__item-name Ривсальт
				.b-article__item-descr Маслянистый и шелковистый вкус абрикосов и лимонов.
		
		ul.b-article__marks
			li.b-article__mark
				.mark.mark--default Вино
			li.b-article__mark
				.mark.mark--default Дегустация
			li.b-article__mark
				.mark.mark--default Новости

		.b-article__socials-wrap
			span.b-article__socials-text Поделиться:

			ul.b-article__socials-list
				li.b-article__socials-item
					a(href="#").b-article__socials-link
						svg(width='24' height='14' viewbox='0 0 24 14' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M23.8298 12.5809C24.1558 13.2313 23.8588 13.9414 23.3009 13.9788H19.8085C18.91 14.0535 18.1854 13.6798 17.5841 13.0444C17.1058 12.5361 16.6494 11.9978 16.1856 11.4746C15.9973 11.2578 15.7944 11.0559 15.5553 10.899C15.0771 10.5775 14.6641 10.6747 14.3887 11.1905C14.1134 11.7138 14.0482 12.2894 14.0192 12.8724C13.983 13.7246 13.7294 13.9414 12.9106 13.9863C11.1427 14.0685 9.46894 13.7919 7.91113 12.8799C6.53446 12.0726 5.46935 10.9289 4.54915 9.62817C2.74499 7.10152 1.36107 4.33566 0.122068 1.48758C-0.160511 0.844707 0.0496119 0.500844 0.730702 0.485893C1.87551 0.463468 3.01308 0.463468 4.15064 0.485893C4.61436 0.493369 4.91868 0.769955 5.09982 1.21847C5.7157 2.78081 6.46925 4.26839 7.41842 5.65132C7.67202 6.0176 7.93287 6.38389 8.29515 6.64553C8.7009 6.92959 9.01246 6.83989 9.20085 6.36894C9.32403 6.06993 9.37475 5.75597 9.40373 5.44201C9.49792 4.35809 9.50517 3.2667 9.34576 2.18278C9.25157 1.50253 8.8748 1.06897 8.22269 0.941886C7.88939 0.874609 7.94011 0.747528 8.09951 0.553171C8.38209 0.216783 8.65018 0 9.17187 0H13.1207C13.7439 0.12708 13.8815 0.41114 13.9685 1.06149L13.9757 5.58404C13.9685 5.83072 14.0989 6.57825 14.5336 6.73523C14.8814 6.85484 15.1133 6.5633 15.3234 6.33904C16.2726 5.30745 16.9464 4.08151 17.5478 2.81071C17.8159 2.25006 18.0478 1.67446 18.2724 1.09887C18.439 0.672775 18.6926 0.463468 19.1636 0.470943L22.9676 0.478418C23.0762 0.478418 23.1922 0.478418 23.3081 0.500844C23.9457 0.612973 24.1196 0.897034 23.924 1.54738C23.6124 2.55655 23.0038 3.40125 22.4169 4.24596C21.7793 5.15047 21.1054 6.02508 20.4751 6.93706C19.9027 7.76682 19.9461 8.19291 20.6634 8.91054C21.4605 9.71039 22.301 10.4654 23.011 11.3475C23.3081 11.7212 23.6052 12.1249 23.8298 12.5809Z' fill='#6E6660')

	
				li.b-article__socials-item
					a(href="#").b-article__socials-link
						svg(width='12' height='22' viewbox='0 0 12 22' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M11.0637 0.154297V3.95869H8.611C8.12309 3.95869 7.63518 4.45979 7.63518 4.83562V7.33452H11.0506C10.9121 9.24661 10.6286 11.0005 10.6286 11.0005H7.6154V21.8466H3.1187V10.9939H0.929688V7.34111H3.1187V4.3543C3.1187 3.80704 3.00661 0.154297 7.72089 0.154297H11.0637Z' fill='#6E6660')
	
				li.b-article__socials-item
					a(href="#").b-article__socials-link
						svg(width='30' height='30' viewbox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M20.3487 4.20312H9.65093C6.64269 4.20312 4.20312 6.64269 4.20312 9.65093V20.3487C4.20312 23.357 6.64269 25.7965 9.65093 25.7965H20.3487C23.357 25.7965 25.7965 23.357 25.7965 20.3487V9.65093C25.7965 6.64269 23.357 4.20312 20.3487 4.20312ZM23.4476 20.3487C23.4476 22.0548 22.0548 23.4476 20.3487 23.4476H9.65093C7.94488 23.4476 6.55203 22.0548 6.55203 20.3487V9.65093C6.55203 7.94488 7.94488 6.55203 9.65093 6.55203H20.3487C22.0548 6.55203 23.4476 7.94488 23.4476 9.65093V20.3487Z' fill='#6E6660')
							path(d='M20.7367 10.5905C21.4649 10.5905 22.0553 10.0001 22.0553 9.27181C22.0553 8.54352 21.4649 7.95312 20.7367 7.95312C20.0084 7.95312 19.418 8.54352 19.418 9.27181C19.418 10.0001 20.0084 10.5905 20.7367 10.5905Z' fill='#6E6660')
							path(d='M14.9997 9.43652C11.9338 9.43652 9.43652 11.9338 9.43652 14.9997C9.43652 18.0656 11.9338 20.5629 14.9997 20.5629C18.0656 20.5629 20.5629 18.0656 20.5629 14.9997C20.5629 11.9338 18.0656 9.43652 14.9997 9.43652ZM14.9997 18.214C13.2277 18.214 11.7854 16.7717 11.7854 14.9997C11.7854 13.2277 13.2277 11.7854 14.9997 11.7854C16.7717 11.7854 18.214 13.2277 18.214 14.9997C18.214 16.7717 16.7717 18.214 14.9997 18.214Z' fill='#6E6660')










