section.b-posts.b-articles__posts
	.container
		h3.b-posts__title.b-hashtags__title Читайте дальше
		ul.b-about__posts
			li.b-about__post
				.b-about__image
					img(src="img/index-page/4-about/1.jpg").img-responsive
				.b-about__text
					.b-about__postdate 19.09.2019
					h4.b-about__posttitle Винное досье: мерло
					p.b-about__postdescr Вино — древний алкогольный напиток, получаемый полным или частичным спиртовым брожением виноградного сока. Вина традиционно производятся из ферментированного сока винограда. В последнее время многие люди открывают для себя удивительный мир вина. Самый изысканный напиток мира стал существенной частью их жизни.
					a(href="#").b-about__postlink Читать

			li.b-about__post
				.b-about__image
					img(src="img/index-page/4-about/2.jpg").img-responsive
				.b-about__text
					.b-about__postdate 19.09.2019
					h4.b-about__posttitle Винное досье: мерло
					p.b-about__postdescr Вино — древний алкогольный напиток, получаемый полным или частичным спиртовым брожением виноградного сока. Вина традиционно производятся из ферментированного сока винограда. В последнее время многие люди открывают для себя удивительный мир вина. Самый изысканный напиток мира стал существенной частью их жизни.
					a(href="#").b-about__postlink Читать