.container
    ul.b-bradcramps
        li.b-bradcramps__item
            a(href="index.html").b-bradcramps__link Главная
        li.b-bradcramps__item
            a(href).b-bradcramps__link Блог
        li.b-bradcramps__item
            a(href).b-bradcramps__link.b-bradcramps__link--disabled  Новый Свет в сердце Франции  