aside.bAside-rtg
    span.bAside-rtg__group-name Все вина с рейтингом

    ul.bAside-rtg__filter
        li.bAside-rtg__item
            button(type="button").bAside-rtg__btn
                span.bAside-rtg__content JS - James Suckling
        li.bAside-rtg__item
            button(type="button").bAside-rtg__btn
                span.bAside-rtg__content WS - Wine Spectator
        li.bAside-rtg__item
            button(type="button").bAside-rtg__btn
                span.bAside-rtg__content LM - Luca Maroni
        li.bAside-rtg__item
            button(type="button").bAside-rtg__btn
                span.bAside-rtg__content GR - Gambero Rosso
        li.bAside-rtg__item
            button(type="button").bAside-rtg__btn
                span.bAside-rtg__content WE - Wine Enthusiast
        li.bAside-rtg__item
            button(type="button").bAside-rtg__btn
                span.bAside-rtg__content Vivino
        li.bAside-rtg__item
            button(type="button").bAside-rtg__btn
                span.bAside-rtg__content RP - Роберт Паркер
        li.bAside-rtg__item
            button(type="button").bAside-rtg__btn
                span.bAside-rtg__content JR - Джансис Робинзон
        li.bAside-rtg__item
            button(type="button").bAside-rtg__btn
                span.bAside-rtg__content RVF - La Revue du vin de France
        li.bAside-rtg__item
            button(type="button").bAside-rtg__btn
                span.bAside-rtg__content QUA-20 - Jean-Marc Quarin
        li.bAside-rtg__item
            button(type="button").bAside-rtg__btn
                span.bAside-rtg__content BD - Michel Bettane & Thierry Desseauv
        li.bAside-rtg__item
            button(type="button").bAside-rtg__btn
                span.bAside-rtg__content ST - Стивен Танцер
        li.bAside-rtg__item
            button(type="button").bAside-rtg__btn
                span.bAside-rtg__content FM - Falstaff Magazine
        li.bAside-rtg__item
            button(type="button").bAside-rtg__btn
                span.bAside-rtg__content VIN - «Vinous»
        li.bAside-rtg__item
            button(type="button").bAside-rtg__btn
                span.bAside-rtg__content W&S - Wine&Spirits
        li.bAside-rtg__item
            button(type="button").bAside-rtg__btn
                span.bAside-rtg__content LV-100 - Luigi Veronelli
        li.bAside-rtg__item
            button(type="button").bAside-rtg__btn
                span.bAside-rtg__content D-5 - Duemilavini
