.bRaitings-text
    .bRaitings-text__left
        .bRaitings-text__wrap
            h3.bRaitings-text__title Джеймс Саклинг/James Suckling
            a.bRaitings-text__link(href="http://www.jamessuckling.com/") http://www.jamessuckling.com/

            p.bRaitings-text__descr Рейтинг Джеймса Саклинга — известного американского винного критика и журналиста, который на протяжении 30 лет работал в качестве эксперта журнала Wine Spectator. В 2010 году он покинул авторитетное издание и создал свой собственный сайт JamesSuckling.com.
            p.bRaitings-text__descr Джеймс Саклинг известен своей специализацией на винах Бордо и Италии. Кроме того, он фокусируется на винах, имеющих оценку более 90 баллов. Согласно его двухуровневой шкале, 95-100 очков получают вина «must buy» — обязательные к покупке, и 90-95 очков — выдающиеся вина.

    .bRaitings-text__photo
        .bRaitings-text__img-wrapper
            img(src="img/raitings-page/1.jpg" alt="Photo")

        span.bRaitings-text__name James <br> Suckling

