.bSelects
    .bSelects__row
        .b-main__group-min.bSelects__select
            .b-main__field.js-open-drop.js-open-drop--bordered.bSelects__select-field Цвет
            .b-main__dropdown
                span.b-main__dropdown-title Белое
                span.b-main__dropdown-title Красное
                span.b-main__dropdown-title Розовое
                span.b-main__dropdown-title Оранжевое

        .b-main__group-min.bSelects__select
            .b-main__field.js-open-drop.js-open-drop--bordered.bSelects__select-field Сладость
            .b-main__dropdown
                span.b-main__dropdown-title Белое
                span.b-main__dropdown-title Красное
                span.b-main__dropdown-title Розовое
                span.b-main__dropdown-title Оранжевое

        .b-main__group-min.bSelects__select
            .b-main__field.js-open-drop.js-open-drop--bordered.bSelects__select-field Подходит к
            .b-main__dropdown
                span.b-main__dropdown-title Белое
                span.b-main__dropdown-title Красное
                span.b-main__dropdown-title Розовое
                span.b-main__dropdown-title Оранжевое

    .bSelects__row
        .b-main__group-min.bSelects__select
            .b-main__field.js-open-drop.js-open-drop--bordered.bSelects__select-field Регион
            .b-main__dropdown
                span.b-main__dropdown-title Белое
                span.b-main__dropdown-title Красное
                span.b-main__dropdown-title Розовое
                span.b-main__dropdown-title Оранжевое

        .b-main__group-min.bSelects__select
            .b-main__field.js-open-drop.js-open-drop--bordered.bSelects__select-field Виноград
            .b-main__dropdown
                span.b-main__dropdown-title Белое
                span.b-main__dropdown-title Красное
                span.b-main__dropdown-title Розовое
                span.b-main__dropdown-title Оранжевое

        .b-main__group-min.bSelects__select
            .b-main__field.js-open-drop.js-open-drop--bordered.bSelects__select-field Тип вина
            .b-main__dropdown
                span.b-main__dropdown-title Белое
                span.b-main__dropdown-title Красное
                span.b-main__dropdown-title Розовое
                span.b-main__dropdown-title Оранжевое
