section.b-hashtags
    .container
        .b-hashtags__group-wrap
            .b-hashtags__group
                h3.b-hashtags__title Подходит к
                ul.b-hashtags__mark-group.b-hashtags__fits
                    li.b-hashtags__mark-item
                        .mark.mark--default Мясо
                    li.b-hashtags__mark-item
                        .mark.mark--default Птица
                    li.b-hashtags__mark-item
                        .mark.mark--default Утка
                    li.b-hashtags__mark-item
                        .mark.mark--default Говядина
                    li.b-hashtags__mark-item
                        .mark.mark--default Сыры
                    li.b-hashtags__mark-item
                        .mark.mark--default Пирожные

            .b-hashtags__group
                h3.b-hashtags__title Вкус
                ul.b-hashtags__mark-group.b-hashtags__testie
                    li.b-hashtags__mark-item
                        .mark.mark--default Кофе
                    li.b-hashtags__mark-item
                        .mark.mark--default Черешня
                    li.b-hashtags__mark-item
                        .mark.mark--default Трюфель
                    li.b-hashtags__mark-item
                        .mark.mark--default Яркий
                    li.b-hashtags__mark-item
                        .mark.mark--default Мягкий
                    li.b-hashtags__mark-item
                        .mark.mark--default Приятный
                    li.b-hashtags__mark-item
                        .mark.mark--default Долгий/Продолжительный
                    li.b-hashtags__mark-item
                        .mark.mark--default Щедрый

        .b-hashtags__group-wrap
            .b-hashtags__group
                h3.b-hashtags__title Входит в коллекции
                ul.b-hashtags__mark-group.b-hashtags__fits
                    li.b-hashtags__mark-item
                        .mark.mark--default Красное десертное  <strong>469</strong>
                    li.b-hashtags__mark-item
                        .mark.mark--default Красное из Франции <strong>785</strong>
                    li.b-hashtags__mark-item
                        .mark.mark--default Романтический ужин <strong>958</strong>
