section.b-slider
    .container
        h3.b-slider__title.b-hashtags__title Похожие вина
        .b-looking-slider
            .swiper-container.js-looking-slider
                .swiper-wrapper
                    .swiper-slide.b-looking-slider__slide
                        .b-card
                            .b-card__label.b-label.b-label--absolute Сухое вино
                            .b-card__img-wrap
                                img.img-responsive(src="img/index-page/2-slider/1.jpg")
                            .b-card__info
                                h5.b-card__title Портвейн Quinta do Crasto, Porto Finest Reserve
                                .b-card__rp RP <strong>90</strong>
                                .b-card__gp GP <strong>90</strong>
                                .b-card__vivino VIVINO <strong>3.6</strong>
                                .b-card__location Испания, Кастилия Ла Манча, Рибера
                            a.b-card__details Подробнее

                    .swiper-slide.b-looking-slider__slide
                        .b-card
                            .b-card__label.b-label.b-label--absolute Сухое вино
                            .b-card__img-wrap
                                img(src="img/index-page/2-slider/2.jpg").img-responsive
                            .b-card__info
                                h5.b-card__title Портвейн Quinta do Crasto, Porto Finest Reserve
                                .b-card__rp RP <strong>90</strong>
                                .b-card__gp GP <strong>90</strong>
                                .b-card__vivino VIVINO <strong>3.6</strong>
                                .b-card__location Испания, Кастилия Ла Манча, Рибера
                            a.b-card__details Подробнее

                    .swiper-slide.b-looking-slider__slide
                        .b-card
                            .b-card__label.b-label.b-label--absolute Сухое вино
                            .b-card__img-wrap
                                img(src="img/index-page/2-slider/3.jpg").img-responsive
                            .b-card__info
                                h5.b-card__title Портвейн Quinta do Crasto, Porto Finest Reserve
                                .b-card__rp RP <strong>90</strong>
                                .b-card__gp GP <strong>90</strong>
                                .b-card__vivino VIVINO <strong>3.6</strong>
                                .b-card__location Испания, Кастилия Ла Манча, Рибера
                            a.b-card__details Подробне

                    .swiper-slide.b-looking-slider__slide
                        .b-card
                            .b-card__label.b-label.b-label--absolute Сухое вино
                            .b-card__img-wrap
                                img(src="img/index-page/2-slider/1.jpg").img-responsive
                            .b-card__info
                                h5.b-card__title Портвейн Quinta do Crasto, Porto Finest Reserve
                                .b-card__rp RP <strong>90</strong>
                                .b-card__gp GP <strong>90</strong>
                                .b-card__vivino VIVINO <strong>3.6</strong>
                                .b-card__location Испания, Кастилия Ла Манча, Рибера
                            a.b-card__details Подробнее

                .swiper-pagination.b-looking-slider-pagination

