section.b-product__info
    .container
        .b-product__wrap
            .b-product__photo-section
                .b-product__photo
                    img(src="img/photos/10.jpg" alt="Photo").img-responsive
                span.b-product__alcohol Алк. <strong class="b-product__accent">12,0%</strong>
                span.b-product__volome <strong class="b-product__accent">750</strong> мл

            .b-product__text
                p.b-product__subtitle "Шато Ле Жубер" Кюве Престиж, 2014, 750 мл
                .b-product__title-wrap
                    h3.b-product__title Вино "Chateau Les Jouberts" Cuvee Prestige, Blaye Cotes de Bordeaux AOC, 2014

                .b-product__detail-info
                    .b-product__ratings
                        .b-product__ws.b-product__rating-block
                            span.b-product__rating-title WS
                            span.b-product__rating-number 90
                            .b-product__rating-stars
                                .b-product__star
                                    svg(width='16', height='15', viewBox='0 0 16 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M8 0L10.4922 4.56977L15.6085 5.52786L12.0325 9.31023L12.7023 14.4721L8 12.24L3.29772 14.4721L3.96752 9.31023L0.391548 5.52786L5.50779 4.56977L8 0Z', fill='#F2C94C')
                                .b-product__star
                                    svg(width='16', height='15', viewBox='0 0 16 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M8 0L10.4922 4.56977L15.6085 5.52786L12.0325 9.31023L12.7023 14.4721L8 12.24L3.29772 14.4721L3.96752 9.31023L0.391548 5.52786L5.50779 4.56977L8 0Z', fill='#F2C94C')
                                .b-product__star
                                    svg(width='16', height='15', viewBox='0 0 16 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M8 0L10.4922 4.56977L15.6085 5.52786L12.0325 9.31023L12.7023 14.4721L8 12.24L3.29772 14.4721L3.96752 9.31023L0.391548 5.52786L5.50779 4.56977L8 0Z', fill='#F2C94C')
                                .b-product__star
                                    svg(width='16', height='15', viewBox='0 0 16 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M8 0L10.4922 4.56977L15.6085 5.52786L12.0325 9.31023L12.7023 14.4721L8 12.24L3.29772 14.4721L3.96752 9.31023L0.391548 5.52786L5.50779 4.56977L8 0Z', fill='#F2C94C')
                                .b-product__star
                                    svg(width='16', height='15', viewBox='0 0 16 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M8 0L10.4922 4.56977L15.6085 5.52786L12.0325 9.31023L12.7023 14.4721L8 12.24L3.29772 14.4721L3.96752 9.31023L0.391548 5.52786L5.50779 4.56977L8 0Z', fill='#F2C94C')
                        .b-product__gp.b-product__rating-block
                            span.b-product__rating-title GP
                            span.b-product__rating-number 75
                            .b-product__rating-stars
                                .b-product__star
                                    svg(width='16', height='15', viewBox='0 0 16 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M8 0L10.4922 4.56977L15.6085 5.52786L12.0325 9.31023L12.7023 14.4721L8 12.24L3.29772 14.4721L3.96752 9.31023L0.391548 5.52786L5.50779 4.56977L8 0Z', fill='#F2C94C')
                                .b-product__star
                                    svg(width='16', height='15', viewBox='0 0 16 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M8 0L10.4922 4.56977L15.6085 5.52786L12.0325 9.31023L12.7023 14.4721L8 12.24L3.29772 14.4721L3.96752 9.31023L0.391548 5.52786L5.50779 4.56977L8 0Z', fill='#F2C94C')
                                .b-product__star
                                    svg(width='16', height='15', viewBox='0 0 16 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M8 0L10.4922 4.56977L15.6085 5.52786L12.0325 9.31023L12.7023 14.4721L8 12.24L3.29772 14.4721L3.96752 9.31023L0.391548 5.52786L5.50779 4.56977L8 0Z', fill='#F2C94C')
                                .b-product__star
                                    svg(width='16', height='15', viewBox='0 0 16 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M8 0L10.4922 4.56977L15.6085 5.52786L12.0325 9.31023L12.7023 14.4721L8 12.24L3.29772 14.4721L3.96752 9.31023L0.391548 5.52786L5.50779 4.56977L8 0Z', fill='#F2C94C')
                                .b-product__star
                                    svg(width='16', height='15', viewBox='0 0 16 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M8 0L10.4922 4.56977L15.6085 5.52786L12.0325 9.31023L12.7023 14.4721L8 12.24L3.29772 14.4721L3.96752 9.31023L0.391548 5.52786L5.50779 4.56977L8 0Z', fill='#F2C94C')

                        .b-product__vivino.b-product__rating-block
                            span.b-product__rating-title VIVINO
                            span.b-product__rating-number 3.6
                            .b-product__rating-stars
                                .b-product__star
                                    svg(width='16', height='15', viewBox='0 0 16 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M8 0L10.4922 4.56977L15.6085 5.52786L12.0325 9.31023L12.7023 14.4721L8 12.24L3.29772 14.4721L3.96752 9.31023L0.391548 5.52786L5.50779 4.56977L8 0Z', fill='#F2C94C')
                                .b-product__star
                                    svg(width='16', height='15', viewBox='0 0 16 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M8 0L10.4922 4.56977L15.6085 5.52786L12.0325 9.31023L12.7023 14.4721L8 12.24L3.29772 14.4721L3.96752 9.31023L0.391548 5.52786L5.50779 4.56977L8 0Z', fill='#F2C94C')
                                .b-product__star
                                    svg(width='16', height='15', viewBox='0 0 16 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M8 0L10.4922 4.56977L15.6085 5.52786L12.0325 9.31023L12.7023 14.4721L8 12.24L3.29772 14.4721L3.96752 9.31023L0.391548 5.52786L5.50779 4.56977L8 0Z', fill='#F2C94C')
                                .b-product__star
                                    svg(width='16', height='15', viewBox='0 0 16 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M8 0L10.4922 4.56977L15.6085 5.52786L12.0325 9.31023L12.7023 14.4721L8 12.24L3.29772 14.4721L3.96752 9.31023L0.391548 5.52786L5.50779 4.56977L8 0Z', fill='#F2C94C')
                                .b-product__star
                                    svg(width='16', height='15', viewBox='0 0 16 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M8 0L10.4922 4.56977L15.6085 5.52786L12.0325 9.31023L12.7023 14.4721L8 12.24L3.29772 14.4721L3.96752 9.31023L0.391548 5.52786L5.50779 4.56977L8 0Z', fill='#F2C94C')

                    ul.b-product__properties
                        li.b-product__property-item
                            span.b-product__property Вино
                            span.b-product__value Красное сухое
                        li.b-product__property-item
                            span.b-product__property Регион
                            span.b-product__value Франция, Бордо, Кот де Блай
                        li.b-product__property-item
                            span.b-product__property Производитель
                            span.b-product__value Les Vignerons de Tutiac
                        li.b-product__property-item
                            span.b-product__property Бренд
                            span.b-product__value Chateau Les Jouberts
                        li.b-product__property-item
                            span.b-product__property Виноград
                            span.b-product__value Мерло 100%

        ul.b-product__additional
            li.b-product__additional-item
                span.b-product__additional-prop Глубина цвета
                span.b-product__additional-val Насыщенное
            li.b-product__additional-item
                span.b-product__additional-prop Тело/Насыщенность
                span.b-product__additional-val Среднее
            li.b-product__additional-item
                span.b-product__additional-prop Температура сервировки
                span.b-product__additional-val 16–18 °С
            li.b-product__additional-item
                span.b-product__additional-prop Сайт производителя
                span.b-product__additional-val https://www.tutiac.com
            li.b-product__additional-item
                span.b-product__additional-prop Потенциал хранения
                span.b-product__additional-val 5 лет