section.b-about
    .container
        .b-about__title.b-title.b-title--right
            .b-title__box-wrap
                .b-title__box
                h2.b-title__text О вине

            .b-title__wrap.b-title__wrap--margin-xl
                p.b-title__descr Вино — древний алкогольный напиток, получаемый полным или частичным спиртовым брожением виноградного сока. Вина традиционно производятся из ферментированного сока винограда. В последнее время многие люди открывают для себя удивительный мир вина.
                a(href="#").b-title__link Перейти в блог

        ul.b-about__posts
            li.b-about__post
                .b-about__image
                    img(src="img/index-page/4-about/1.jpg").img-responsive
                .b-about__text
                    .b-about__postdate 19.09.2019
                    h4.b-about__posttitle Винное досье: мерло
                    p.b-about__postdescr Вино — древний алкогольный напиток, получаемый полным или частичным спиртовым брожением виноградного сока. Вина традиционно производятся из ферментированного сока винограда. В последнее время многие люди открывают для себя удивительный мир вина. Самый изысканный напиток мира стал существенной частью их жизни.
                    a(href="#").b-about__postlink Читать

            li.b-about__post
                .b-about__image
                    img(src="img/index-page/4-about/2.jpg").img-responsive
                .b-about__text
                    .b-about__postdate 19.09.2019
                    h4.b-about__posttitle Винное досье: мерло
                    p.b-about__postdescr Вино — древний алкогольный напиток, получаемый полным или частичным спиртовым брожением виноградного сока. Вина традиционно производятся из ферментированного сока винограда. В последнее время многие люди открывают для себя удивительный мир вина. Самый изысканный напиток мира стал существенной частью их жизни.
                    a(href="#").b-about__postlink Читать

        .b-about__textblock
             p.b-about__descr Вина традиционно производятся из ферментированного сока винограда. Алкогольные напитки, произведеные по сходным технологиям из ферментированного сока плодов и ягод относятся к отдельной категории плодовых или плодо-ягодных вин. Не относятся к винам также алкогольные напитки, полученные сбраживанием ягод, плодов, овощей, и зерновых культур или смешиванием алкоголя с соками (брага, наливка).
             p.b-about__descr По назначению вина делятся на столовые (используются как вкусовое дополнение к столу) и десертные (подаются к десерту).
             p.b-about__descr По качеству и срокам выдержки вина подразделяются на:

             ul.b-about__textlist
                 li.b-about__textitem молодые (в таких винах допускается опалесценция);
                 li.b-about__textitem без выдержки;
                 li.b-about__textitem выдержанные;
                 li.b-about__textitem марочные (лучшие, выдержанные вина, вырабатываемые в определённых винодельческих районах из одних и тех же сортов винограда, сохраняющие вкус и аромат);
                 li.b-about__textitem коллекционные (вина с очень длительной выдержкой, иногда достигающей десятков и даже сотен лет).

