section.b-banner
    .container
        h1.b-banner__title <span>Помогаем <b>находить</b> <a href class="und">вина</a></span><span><b>для</b> любых <b>поводов</b></span>

        form.b-banner__select-vine
            .b-banner__select-group
                select.js-select-name.js-select-name.b-banner__select.b-banner__select--name(name="name")
                    option
                    option(value="name") Название
                    option(value="name") Название
                    option(value="name") Название


                select.js-select-color.js-select-item.b-banner__select.b-banner__select--color(name="color")
                    option
                    option(value="color") Белое
                    option(value="color") Красное
                    option(value="color") Розовое
                    option(value="color") Оранжевое

                select.js-select-sweetness.js-select-item.b-banner__select.b-banner__select--sweetness(name="sweetness")
                    option
                    option(value="sweetness") Белое
                    option(value="sweetness") Красное
                    option(value="sweetness") Розовое
                    option(value="sweetness") Оранжевое

                select.js-select-sweetness.js-select-item.b-banner__select.b-banner__select--sweetness(name="sweetness")
                    option
                    option(value="sweetness") Белое
                    option(value="sweetness") Красное
                    option(value="sweetness") Розовое
                    option(value="sweetness") Оранжевое

                button(type="submit").b-banner__submit Найти вино!


