section.b-main
    .container
        h1.b-main__title <span>Помогаем <b>находить</b> <a href class="und">вина</a></span><span><b>для</b> любых <b>поводов</b></span>

        form.b-main__select-vine
            .b-main__select-group
                .b-main__input-group.input-pseudo
                    input(type="text" name="name" placeholder="Название" autocomplete="off").js-open-drop.b-main__input.b-main__input--active
                    .b-main__dropdown
                        span.b-main__dropdown-title Название
                        span.b-main__dropdown-title Название 1
                        span.b-main__dropdown-title Название 2
                        span.b-main__dropdown-title Название 3
                        span.b-main__dropdown-title Название 4

                .b-main__group-min
                    .b-main__field.js-open-drop Цвет
                    .b-main__dropdown
                        span.b-main__dropdown-title Белое
                        span.b-main__dropdown-title Красное
                        span.b-main__dropdown-title Розовое
                        span.b-main__dropdown-title Оранжевое

                .b-main__group-min
                    .b-main__field.js-open-drop Сладость
                    .b-main__dropdown
                        span.b-main__dropdown-title Белое
                        span.b-main__dropdown-title Красное
                        span.b-main__dropdown-title Розовое
                        span.b-main__dropdown-title Оранжевое

                .b-main__group-min
                    .b-main__field.js-open-drop Подходит к
                    .b-main__dropdown
                        span.b-main__dropdown-title Рыба
                        span.b-main__dropdown-title Белое мясо
                        span.b-main__dropdown-title Сыры
                        span.b-main__dropdown-title Фрукты
                        span.b-main__dropdown-title Десерты


                button(type="submit").b-main__submit Найти вино!


