section.b-cats
    .container
        .b-cats__title.b-title.b-title--left
            .b-title__box-wrap
                .b-title__box.b-title__box--border
                h2.b-title__text Категории

            p.b-title__descr Вы можете быстро и легко  подобрать качественную и оригинальную винную продукцию воспользовавшись поиском “по категориям”. У нас собрана информация со всех уголков планеты.

        .b-cats__categories
            button.js-close-full
            .b-cats__searchwrap
                input(type="search" placeholder="Поиск...")#b-cats__search.b-cats__search
                button(type="button").js-field-erase
            .b-cats__full(data-mcs-theme="dark")
                ul.b-cats__item
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                ul.b-cats__item
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                ul.b-cats__item
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                ul.b-cats__item
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>
                    li.b-cats__fullitem
                        a(href="#").b-cats__link Франция <strong>26361</strong>

            .b-cats__group#region
                .b-cats__wrap
                    .b-cats__group-title Регион
                    .b-cats__subtitle Популярное
                    ul.b-cats__list
                        li.b-cats__item
                            a(href="#").b-cats__link Франция <strong>26361</strong>
                        li.b-cats__item
                            a(href="#").b-cats__link Италия <strong>25754</strong>
                        li.b-cats__item
                            a(href="#").b-cats__link Россия <strong>1036</strong>
                        li.b-cats__item
                            a(href="#").b-cats__link Испания <strong>6954</strong>
                        li.b-cats__item
                            a(href="#").b-cats__link Чили <strong>3952</strong>
                        li.b-cats__item
                            a(href="#").b-cats__link ЮАР <strong>1726</strong>
                        li.b-cats__item
                            a(href="#").b-cats__link Грузия <strong>1061 </strong>

                .b-cats__photo
                    a(href="#").b-cats__all Ко всему списку
                    img(src="img/index-page/3-categories/1.jpg" alt="Photo").img-responsive

            .b-cats__group#color
                .b-cats__wrap
                    .b-cats__group-title Цвет
                    .b-cats__subtitle Популярное
                    ul.b-cats__list
                        li.b-cats__item
                            a(href="#").b-cats__link Красное <strong>46099</strong>
                        li.b-cats__item
                            a(href="#").b-cats__link Белое <strong>30142</strong>
                        li.b-cats__item
                            a(href="#").b-cats__link Розовое <strong>2714</strong>
                        li.b-cats__item
                            a(href="#").b-cats__link Оранжевое <strong>64</strong>


                .b-cats__photo
                    a(href="#").b-cats__all Ко всему списку
                    img(src="img/index-page/3-categories/2.jpg" alt="Photo").img-responsive

            .b-cats__group#grape
                .b-cats__wrap
                    .b-cats__group-title Виноград
                    .b-cats__subtitle Популярное
                    ul.b-cats__list
                        li.b-cats__item
                            a(href="#").b-cats__link Каберне Совиньон <strong>13416</strong>
                        li.b-cats__item
                            a(href="#").b-cats__link Пино Нуар <strong>6196</strong>
                        li.b-cats__item
                            a(href="#").b-cats__link Мерло <strong>12654</strong>
                        li.b-cats__item
                            a(href="#").b-cats__link Шардоне <strong>10057</strong>
                        li.b-cats__item
                            a(href="#").b-cats__link Совиньон Блан <strong>5976</strong>
                        li.b-cats__item
                            a(href="#").b-cats__link Рислинг <strong>2430</strong>
                        li.b-cats__item
                            a(href="#").b-cats__link Пино Гриджио <strong>1448 </strong>
                .b-cats__photo
                    a(href="#").b-cats__all Ко всему списку
                    img(src="img/index-page/3-categories/3.jpg" alt="Photo").img-responsive

            .b-cats__group#type
                .b-cats__wrap
                    .b-cats__group-title Тип вина
                    .b-cats__subtitle Популярное
                    ul.b-cats__list
                        li.b-cats__item
                            a(href="#").b-cats__link Вино <strong>78955</strong>
                        li.b-cats__item
                            a(href="#").b-cats__link Портвейн <strong>764</strong>
                        li.b-cats__item
                            a(href="#").b-cats__link Херес <strong>204</strong>
                        li.b-cats__item
                            a(href="#").b-cats__link Вермут  <strong>168</strong>
                        li.b-cats__item
                            a(href="#").b-cats__link Кагор <strong>42</strong>
                        li.b-cats__item
                            a(href="#").b-cats__link Крепленое <strong>34</strong>
                        li.b-cats__item
                            a(href="#").b-cats__link Винный напиток <strong>12</strong>

                .b-cats__photo
                    a(href="#").b-cats__all Ко всему списку
                    img(src="img/index-page/3-categories/4.jpg" alt="Photo").img-responsive

            .b-cats__group#taste
                .b-cats__wrap
                    .b-cats__group-title Вкус
                    .b-cats__subtitle Популярное
                    ul.b-cats__list
                        li.b-cats__item
                            a(href="#").b-cats__link фруктовый
                        li.b-cats__item
                            a(href="#").b-cats__link цветочный
                        li.b-cats__item
                            a(href="#").b-cats__link свежий
                        li.b-cats__item
                            a(href="#").b-cats__link легкое
                        li.b-cats__item
                            a(href="#").b-cats__link приятный
                        li.b-cats__item
                            a(href="#").b-cats__link гармоничный
                        li.b-cats__item
                            a(href="#").b-cats__link кислинка
                        li.b-cats__item
                            a(href="#").b-cats__link изящный
                .b-cats__photo
                    a(href="#").b-cats__all Ко всему списку
                    img(src="img/index-page/3-categories/5.jpg" alt="Photo").img-responsive

