section.b-looking
    .container
        .b-looking__title.b-title.b-title--right
            .b-title__box-wrap
                .b-title__box
                h2.b-title__text Часто ищут
        .b-looking-slider
            .swiper-container.js-looking-slider
                .swiper-wrapper
                    .swiper-slide
                        .b-looking-slider__card
                            .b-looking-slider__label.b-label.b-label--absolute Сухое вино
                            .b-looking-slider__img-wrap
                                img.img-responsive(src="img/index-page/2-slider/1.jpg")
                            .b-looking-slider__info
                                h5.b-looking-slider__title Портвейн Quinta do Crasto, Porto Finest Reserve
                                .b-looking-slider__rp RP <strong>90</strong>
                                .b-looking-slider__gp GP <strong>90</strong>
                                .b-looking-slider__vivino VIVINO <strong>3.6</strong>
                                .b-looking-slider__location Испания, Кастилия Ла Манча, Рибера
                            a.b-looking-slider__details Подробнее

                    .swiper-slide.b-looking-slider__slide
                        .b-looking-slider__card
                            .b-looking-slider__label.b-label.b-label--absolute Сухое вино
                            .b-looking-slider__img-wrap
                                img(src="img/index-page/2-slider/2.jpg").img-responsive
                            .b-looking-slider__info
                                h5.b-looking-slider__title Портвейн Quinta do Crasto, Porto Finest Reserve
                                .b-looking-slider__rp RP <strong>90</strong>
                                .b-looking-slider__gp GP <strong>90</strong>
                                .b-looking-slider__vivino VIVINO <strong>3.6</strong>
                                .b-looking-slider__location Испания, Кастилия Ла Манча, Рибера
                            a.b-looking-slider__details Подробнее

                    .swiper-slide.b-looking-slider__slide
                        .b-looking-slider__card
                            .b-looking-slider__label.b-label.b-label--absolute Сухое вино
                            .b-looking-slider__img-wrap
                                img(src="img/index-page/2-slider/3.jpg").img-responsive
                            .b-looking-slider__info
                                h5.b-looking-slider__title Портвейн Quinta do Crasto, Porto Finest Reserve
                                .b-looking-slider__rp RP <strong>90</strong>
                                .b-looking-slider__gp GP <strong>90</strong>
                                .b-looking-slider__vivino VIVINO <strong>3.6</strong>
                                .b-looking-slider__location Испания, Кастилия Ла Манча, Рибера
                            a.b-looking-slider__details Подробне

                    .swiper-slide.b-looking-slider__slide
                        .b-looking-slider__card
                            .b-looking-slider__label.b-label.b-label--absolute Сухое вино
                            .b-looking-slider__img-wrap
                                img(src="img/index-page/2-slider/1.jpg").img-responsive
                            .b-looking-slider__info
                                h5.b-looking-slider__title Портвейн Quinta do Crasto, Porto Finest Reserve
                                .b-looking-slider__rp RP <strong>90</strong>
                                .b-looking-slider__gp GP <strong>90</strong>
                                .b-looking-slider__vivino VIVINO <strong>3.6</strong>
                                .b-looking-slider__location Испания, Кастилия Ла Манча, Рибера
                            a.b-looking-slider__details Подробнее

                .swiper-pagination.b-looking-slider-pagination

                .b-looking-slider__buttons
                    .swiper-button-prev.b-looking-slider-prev
                    .swiper-button-next.b-looking-slider-next
