aside.b-blog__aside
	.b-blog__wrap
		span.b-blog__chapter Разделы
		ul.b-blog__chapter-list
			li.b-blog__chapter-item
				a(href="#").b-blog__chapter-link.button-animated Вино
			li.b-blog__chapter-item
				a(href="#").b-blog__chapter-link.button-animated Шампанское
			li.b-blog__chapter-item
				a(href="#").b-blog__chapter-link.button-animated Мероприятия
			li.b-blog__chapter-item
				a(href="#").b-blog__chapter-link.button-animated Дегустации
			li.b-blog__chapter-item
				a(href="#").b-blog__chapter-link.button-animated Винные регионы		
	
	.b-blog__wrap.popular-chapter
		span.b-blog__chapter Популярное

		ul.b-blog__popular
			li.b-blog__popular-list
				a(href="#").b-blog__popular-link
					.b-blog__popular-img 
						img(src="img/blog-page/1.jpg" alt="Alt")
					.b-blog__popular-content
						time(datatime="2019-10-12").b-blog__popular-date 12 октября, 2019
						h5.b-blog__popular-title Стили белых вин	
			li.b-blog__popular-list
				a(href="#").b-blog__popular-link
					.b-blog__popular-img 
						img(src="img/blog-page/2.jpg" alt="Alt")
					.b-blog__popular-content
						time(datatime="2019-10-12").b-blog__popular-date 17 октября, 2019
						h5.b-blog__popular-title Как сделать вид, что разбираешься в вине
			li.b-blog__popular-list
				a(href="#").b-blog__popular-link
					.b-blog__popular-img 
						img(src="img/blog-page/3.jpg" alt="Alt")
					.b-blog__popular-content
						time(datatime="2019-10-12").b-blog__popular-date 12 октября, 2019
						h5.b-blog__popular-title Вино с крышкой вместо пробки - это ок?
			li.b-blog__popular-list
				a(href="#").b-blog__popular-link
					.b-blog__popular-img 
						img(src="img/blog-page/4.jpg" alt="Alt")
					.b-blog__popular-content
						time(datatime="2019-10-12").b-blog__popular-date 12 октября, 2019
						h5.b-blog__popular-title Новый Свет в сердце Франции
			li.b-blog__popular-list
				a(href="#").b-blog__popular-link
					.b-blog__popular-img 
						img(src="img/blog-page/5.jpg" alt="Alt")
					.b-blog__popular-content
						time(datatime="2019-10-12").b-blog__popular-date 12 октября, 2019
						h5.b-blog__popular-title Санджовезе — итальянец благородных...						



		
