.b-posts-list
	ul.b-about__posts
		li.b-about__post
			.b-about__image
				img(src="img/index-page/4-about/1.jpg").img-responsive
			.b-about__text
				.b-about__postdate 19.09.2019
				h4.b-about__posttitle Винное досье: мерло
				p.b-about__postdescr Виноj — древний алкогольный напиток, получаемый полным или частичным спиртовым брожением виноградного сока. Вина традиционно производятся из ферментированного сока винограда...
				a(href="#").b-about__postlink Читать

		li.b-about__post
			.b-about__image
				img(src="img/index-page/4-about/2.jpg").img-responsive
			.b-about__text
				.b-about__postdate 19.09.2019
				h4.b-about__posttitle Краски, кисти и вино
				p.b-about__postdescr Каждый художник умеет сделать так, чтобы вино стало самой говорящей деталью его картины. Вино превращается в главного героя полотна, выходя на первый план. Вино интригует, расставляя правильные акценты...
				a(href="#").b-about__postlink Читать

		li.b-about__post
			.b-about__image
				img(src="img/index-page/4-about/1.jpg").img-responsive
			.b-about__text
				.b-about__postdate 19.09.2019
				h4.b-about__posttitle Краски, кисти и вино
				p.b-about__postdescr Каждый художник умеет сделать так, чтобы вино стало самой говорящей деталью его картины. Вино превращается в главного героя полотна, выходя на первый план. Вино интригует, расставляя правильные акценты...
				a(href="#").b-about__postlink Читать

		li.b-about__post
			.b-about__image
				img(src="img/index-page/4-about/2.jpg").img-responsive
			.b-about__text
				.b-about__postdate 19.09.2019
				h4.b-about__posttitle Винное досье: мерло
				p.b-about__postdescr Каждый художник умеет сделать так, чтобы вино стало самой говорящей деталью его картины. Вино превращается в главного героя полотна, выходя на первый план. Вино интригует, расставляя правильные акценты....
				a(href="#").b-about__postlink Читать		
