.bRaitings-text {
  display: flex;

  &__left {
    width: 56%;
  }

  &__wrap {
    padding-right: 16px;
    border-right: 1px solid #C4C4C4;
  }

  &__photo {
    width: 44%;
  }

  &__title {
    font-size: 28px;
    font-family: 'PlayfairDisplay Regular', sans-serif;
    line-height: rem(40);
    color: #271317;
  }

  &__link {
    font-family: 'Lato Light', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #6E6660;
    margin-bottom: 40px;
    display: block;
  }

  &__descr {
    color: $text;
    margin-bottom: 20px;
    line-height: rem(20);
  }

  &__img-wrapper {
    width: 272px;
    margin-bottom: 24px;
    margin-left: 95px;
    margin-top: 40px;
  }

  &__name {
    @include font(56);
    display: block;
    line-height: rem(64);
    color: $text;
    font-family: $fair-normal;
    margin-left: 15px;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 970px) {
  .bRaitings-text {
    flex-direction: column;
  }

  .bRaitings-text__left {
    width: 100%;
    order: 1;
  }

  .bRaitings-text__wrap {
    border-right: none;
  }

  .bRaitings-text__img-wrapper {
    width: 100%;
    margin-left: 0;
  }

  .bRaitings-text__photo {
    width: 100%;
    order: 0;
    align-self: center;
    text-align: center;
    margin-bottom: 30px;

    img {
      margin: 0 auto;
    }
  }

  .bRaitings-text__name {
    margin-left: 0;
  }
}

@media only screen and (max-width: 460px) {
  .bRaitings-text__name {
    font-size: 2.5rem;
  } 
}