.raitings__content {
  display: flex;
  padding-top: 72px;
  padding-bottom: 100px;
  position: relative;
}
.b-raitings {
  background-color: #F6F6F6;
}


.raitings__main {
	transition: all .3s ease-out;
}