aside.b-aside
    .b-aside__search-wrap.b-search__wrap.b-search__wrap--relative
        input(type="search" placeholder="Поиск...")#b-search.b-search.b-aside__search
        button(type="button").js-field-erase

    .b-aside__filters
        .b-aside__count-wrap
            .b-aside__count Выбрано <span class="js-filters-count">1</span> фильтр
            button.b-aside__throw
                span.button-animated Сбросить все фильтры
                img(src="img/refresh.svg" alt="Refresh").b-aside__throw-image

        .b-aside__filters-wrap
            ul.b-aside__filters-list
                .js-full-list.full-list
                    .full-list__content
                        .full-list__left
                             .full-list__title Виноград
                             .full-list__group-title Популярное

                             ul.full-list-item
                                 li.b-cats__item
                                     a(href="#").b-cats__link.button-animated Каберне Совиньон <strong>13416</strong>
                                 li.b-cats__item
                                     a(href="#").b-cats__link.button-animated Пино Нуар <strong>6196</strong>
                                 li.b-cats__item
                                     a(href="#").b-cats__link.button-animated Мерло <strong>12654</strong>
                                 li.b-cats__item
                                     a(href="#").b-cats__link.button-animated Шардоне <strong>10057</strong>
                                 li.b-cats__item
                                     a(href="#").b-cats__link.button-animated Совиньон Блан <strong>5976</strong>
                                 li.b-cats__item
                                     a(href="#").b-cats__link.button-animated Рислинг <strong>2430</strong>
                                 li.b-cats__item
                                     a(href="#").b-cats__link.button-animated Пино Гриджио <strong>1448 </strong>
                        .full-list__right
                            .full-list__search-wrap.b-search__wrap
                                input(type="search" placeholder="Поиск...")#b-search.b-search.full-list__search
                                button(type="button").js-field-erase

                            .full-list__wrap
                                ul.full-list__item
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                ul.full-list__item
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                ul.full-list__item
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                ul.full-list__item
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>
                                    li.full-list__fullitem
                                        a(href="#").b-cats__link Франция <strong>26361</strong>



                li.b-aside__filters-item <span class="button-animated js-open-list">Цвет</span>
                    ul.b-aside__drop
                        li.b-aside__drop-item
                            input(type="checkbox" name="dry" id="dry").b-aside__filter-check
                            label(for="dry").b-aside__filter-label Сухое <strong>46099</strong>
                            img(src="img/check.svg").b-aside__check-image
                        li.b-aside__drop-item
                            input(type="checkbox" name="semidry" id="semidry").b-aside__filter-check
                            label(for="semidry").b-aside__filter-label Полусухое <strong>30142</strong>
                            img(src="img/check.svg").b-aside__check-image
                        li.b-aside__drop-item
                            input(type="checkbox" name="semisweet" id="semisweet").b-aside__filter-check
                            label(for="semisweet").b-aside__filter-label Полусладкое <strong>2714</strong>
                            img(src="img/check.svg").b-aside__check-image
                        li.b-aside__drop-item
                            input(type="checkbox" name="sweet" id="sweet").b-aside__filter-check
                            label(for="sweet").b-aside__filter-label Сладкое <strong>64</strong>
                            img(src="img/check.svg").b-aside__check-image
                        li.b-aside__drop-item
                            button.b-aside__drop-btn
                                span Еще
                                svg.b-aside__btn-image(width='32', height='16', viewBox='0 0 32 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M-9.72748e-05 7.52726H30.2999L24.2999 1.39438C24.0999 1.18995 24.0999 0.883304 24.2999 0.678875C24.2999 0.678875 24.3999 0.678876 24.3999 0.576661C24.4999 0.474446 24.6999 0.474446 24.8999 0.576661C24.8999 0.678876 24.8999 0.678875 24.9999 0.78109L31.7999 7.73169C31.8999 7.8339 31.8999 7.8339 31.8999 7.93612C31.8999 7.93612 31.8999 7.93611 31.8999 8.03833C31.8999 8.14054 31.8999 8.24276 31.8999 8.24276C31.8999 8.34497 31.7999 8.34497 31.7999 8.34497L24.9999 15.3978C24.8999 15.5 24.7999 15.5 24.5999 15.5C24.3999 15.5 24.2999 15.5 24.1999 15.3978C23.9999 15.1934 23.9999 14.8867 24.1999 14.6823L30.1999 8.5494H-9.72748e-05V7.52726Z', fill='#6E6660')

                li.b-aside__filters-item <span class="button-animated js-open-list">Сладость</span>
                    ul.b-aside__drop
                        li.b-aside__drop-item
                            input(type="checkbox" name="dry" id="dry").b-aside__filter-check
                            label(for="dry").b-aside__filter-label Сухое <strong>46099</strong>
                            img(src="img/check.svg").b-aside__check-image
                        li.b-aside__drop-item
                            input(type="checkbox" name="semidry" id="semidry").b-aside__filter-check
                            label(for="semidry").b-aside__filter-label Полусухое <strong>30142</strong>
                            img(src="img/check.svg").b-aside__check-image
                        li.b-aside__drop-item
                            input(type="checkbox" name="semisweet" id="semisweet").b-aside__filter-check
                            label(for="semisweet").b-aside__filter-label Полусладкое <strong>2714</strong>
                            img(src="img/check.svg").b-aside__check-image
                        li.b-aside__drop-item
                            input(type="checkbox" name="sweet" id="sweet").b-aside__filter-check
                            label(for="sweet").b-aside__filter-label Сладкое <strong>64</strong>
                            img(src="img/check.svg").b-aside__check-image
                        li.b-aside__drop-item
                            button.b-aside__drop-btn
                                span Еще
                                svg.b-aside__btn-image(width='32', height='16', viewBox='0 0 32 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M-9.72748e-05 7.52726H30.2999L24.2999 1.39438C24.0999 1.18995 24.0999 0.883304 24.2999 0.678875C24.2999 0.678875 24.3999 0.678876 24.3999 0.576661C24.4999 0.474446 24.6999 0.474446 24.8999 0.576661C24.8999 0.678876 24.8999 0.678875 24.9999 0.78109L31.7999 7.73169C31.8999 7.8339 31.8999 7.8339 31.8999 7.93612C31.8999 7.93612 31.8999 7.93611 31.8999 8.03833C31.8999 8.14054 31.8999 8.24276 31.8999 8.24276C31.8999 8.34497 31.7999 8.34497 31.7999 8.34497L24.9999 15.3978C24.8999 15.5 24.7999 15.5 24.5999 15.5C24.3999 15.5 24.2999 15.5 24.1999 15.3978C23.9999 15.1934 23.9999 14.8867 24.1999 14.6823L30.1999 8.5494H-9.72748e-05V7.52726Z', fill='#6E6660')

                li.b-aside__filters-item <span class="button-animated js-open-list">Подходит к</span>
                    ul.b-aside__drop
                        li.b-aside__drop-item
                            input(type="checkbox" name="dry" id="dry").b-aside__filter-check
                            label(for="dry").b-aside__filter-label Сухое <strong>46099</strong>
                            img(src="img/check.svg").b-aside__check-image
                        li.b-aside__drop-item
                            input(type="checkbox" name="semidry" id="semidry").b-aside__filter-check
                            label(for="semidry").b-aside__filter-label Полусухое <strong>30142</strong>
                            img(src="img/check.svg").b-aside__check-image
                        li.b-aside__drop-item
                            input(type="checkbox" name="semisweet" id="semisweet").b-aside__filter-check
                            label(for="semisweet").b-aside__filter-label Полусладкое <strong>2714</strong>
                            img(src="img/check.svg").b-aside__check-image
                        li.b-aside__drop-item
                            input(type="checkbox" name="sweet" id="sweet").b-aside__filter-check
                            label(for="sweet").b-aside__filter-label Сладкое <strong>64</strong>
                            img(src="img/check.svg").b-aside__check-image
                        li.b-aside__drop-item
                            button.b-aside__drop-btn
                                span Еще
                                svg.b-aside__btn-image(width='32', height='16', viewBox='0 0 32 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M-9.72748e-05 7.52726H30.2999L24.2999 1.39438C24.0999 1.18995 24.0999 0.883304 24.2999 0.678875C24.2999 0.678875 24.3999 0.678876 24.3999 0.576661C24.4999 0.474446 24.6999 0.474446 24.8999 0.576661C24.8999 0.678876 24.8999 0.678875 24.9999 0.78109L31.7999 7.73169C31.8999 7.8339 31.8999 7.8339 31.8999 7.93612C31.8999 7.93612 31.8999 7.93611 31.8999 8.03833C31.8999 8.14054 31.8999 8.24276 31.8999 8.24276C31.8999 8.34497 31.7999 8.34497 31.7999 8.34497L24.9999 15.3978C24.8999 15.5 24.7999 15.5 24.5999 15.5C24.3999 15.5 24.2999 15.5 24.1999 15.3978C23.9999 15.1934 23.9999 14.8867 24.1999 14.6823L30.1999 8.5494H-9.72748e-05V7.52726Z', fill='#6E6660')

                li.b-aside__filters-item <span class="button-animated js-open-list">Регион</span>
                    ul.b-aside__drop
                        li.b-aside__drop-item
                            input(type="checkbox" name="dry" id="dry").b-aside__filter-check
                            label(for="dry").b-aside__filter-label Сухое <strong>46099</strong>
                            img(src="img/check.svg").b-aside__check-image
                        li.b-aside__drop-item
                            input(type="checkbox" name="semidry" id="semidry").b-aside__filter-check
                            label(for="semidry").b-aside__filter-label Полусухое <strong>30142</strong>
                            img(src="img/check.svg").b-aside__check-image
                        li.b-aside__drop-item
                            input(type="checkbox" name="semisweet" id="semisweet").b-aside__filter-check
                            label(for="semisweet").b-aside__filter-label Полусладкое <strong>2714</strong>
                            img(src="img/check.svg").b-aside__check-image
                        li.b-aside__drop-item
                            input(type="checkbox" name="sweet" id="sweet").b-aside__filter-check
                            label(for="sweet").b-aside__filter-label Сладкое <strong>64</strong>
                            img(src="img/check.svg").b-aside__check-image
                        li.b-aside__drop-item
                            button.b-aside__drop-btn
                                span Еще
                                svg.b-aside__btn-image(width='32', height='16', viewBox='0 0 32 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M-9.72748e-05 7.52726H30.2999L24.2999 1.39438C24.0999 1.18995 24.0999 0.883304 24.2999 0.678875C24.2999 0.678875 24.3999 0.678876 24.3999 0.576661C24.4999 0.474446 24.6999 0.474446 24.8999 0.576661C24.8999 0.678876 24.8999 0.678875 24.9999 0.78109L31.7999 7.73169C31.8999 7.8339 31.8999 7.8339 31.8999 7.93612C31.8999 7.93612 31.8999 7.93611 31.8999 8.03833C31.8999 8.14054 31.8999 8.24276 31.8999 8.24276C31.8999 8.34497 31.7999 8.34497 31.7999 8.34497L24.9999 15.3978C24.8999 15.5 24.7999 15.5 24.5999 15.5C24.3999 15.5 24.2999 15.5 24.1999 15.3978C23.9999 15.1934 23.9999 14.8867 24.1999 14.6823L30.1999 8.5494H-9.72748e-05V7.52726Z', fill='#6E6660')

                li.b-aside__filters-item <span class="button-animated js-open-list">Виноград</span>
                    ul.b-aside__drop
                        li.b-aside__drop-item
                            input(type="checkbox" name="dry" id="dry").b-aside__filter-check
                            label(for="dry").b-aside__filter-label Сухое <strong>46099</strong>
                            img(src="img/check.svg").b-aside__check-image
                        li.b-aside__drop-item
                            input(type="checkbox" name="semidry" id="semidry").b-aside__filter-check
                            label(for="semidry").b-aside__filter-label Полусухое <strong>30142</strong>
                            img(src="img/check.svg").b-aside__check-image
                        li.b-aside__drop-item
                            input(type="checkbox" name="semisweet" id="semisweet").b-aside__filter-check
                            label(for="semisweet").b-aside__filter-label Полусладкое <strong>2714</strong>
                            img(src="img/check.svg").b-aside__check-image
                        li.b-aside__drop-item
                            input(type="checkbox" name="sweet" id="sweet").b-aside__filter-check
                            label(for="sweet").b-aside__filter-label Сладкое <strong>64</strong>
                            img(src="img/check.svg").b-aside__check-image
                        li.b-aside__drop-item
                            button.b-aside__drop-btn
                                span Еще
                                svg.b-aside__btn-image(width='32', height='16', viewBox='0 0 32 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M-9.72748e-05 7.52726H30.2999L24.2999 1.39438C24.0999 1.18995 24.0999 0.883304 24.2999 0.678875C24.2999 0.678875 24.3999 0.678876 24.3999 0.576661C24.4999 0.474446 24.6999 0.474446 24.8999 0.576661C24.8999 0.678876 24.8999 0.678875 24.9999 0.78109L31.7999 7.73169C31.8999 7.8339 31.8999 7.8339 31.8999 7.93612C31.8999 7.93612 31.8999 7.93611 31.8999 8.03833C31.8999 8.14054 31.8999 8.24276 31.8999 8.24276C31.8999 8.34497 31.7999 8.34497 31.7999 8.34497L24.9999 15.3978C24.8999 15.5 24.7999 15.5 24.5999 15.5C24.3999 15.5 24.2999 15.5 24.1999 15.3978C23.9999 15.1934 23.9999 14.8867 24.1999 14.6823L30.1999 8.5494H-9.72748e-05V7.52726Z', fill='#6E6660')

                li.b-aside__filters-item <span class="button-animated js-open-list">Тип вина</span>
                    ul.b-aside__drop
                        li.b-aside__drop-item
                            input(type="checkbox" name="dry" id="dry").b-aside__filter-check
                            label(for="dry").b-aside__filter-label Сухое <strong>46099</strong>
                            img(src="img/check.svg").b-aside__check-image
                        li.b-aside__drop-item
                            input(type="checkbox" name="semidry" id="semidry").b-aside__filter-check
                            label(for="semidry").b-aside__filter-label Полусухое <strong>30142</strong>
                            img(src="img/check.svg").b-aside__check-image
                        li.b-aside__drop-item
                            input(type="checkbox" name="semisweet" id="semisweet").b-aside__filter-check
                            label(for="semisweet").b-aside__filter-label Полусладкое <strong>2714</strong>
                            img(src="img/check.svg").b-aside__check-image
                        li.b-aside__drop-item
                            input(type="checkbox" name="sweet" id="sweet").b-aside__filter-check
                            label(for="sweet").b-aside__filter-label Сладкое <strong>64</strong>
                            img(src="img/check.svg").b-aside__check-image
                        li.b-aside__drop-item
                            button.b-aside__drop-btn
                                span Еще
                                svg.b-aside__btn-image(width='32', height='16', viewBox='0 0 32 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M-9.72748e-05 7.52726H30.2999L24.2999 1.39438C24.0999 1.18995 24.0999 0.883304 24.2999 0.678875C24.2999 0.678875 24.3999 0.678876 24.3999 0.576661C24.4999 0.474446 24.6999 0.474446 24.8999 0.576661C24.8999 0.678876 24.8999 0.678875 24.9999 0.78109L31.7999 7.73169C31.8999 7.8339 31.8999 7.8339 31.8999 7.93612C31.8999 7.93612 31.8999 7.93611 31.8999 8.03833C31.8999 8.14054 31.8999 8.24276 31.8999 8.24276C31.8999 8.34497 31.7999 8.34497 31.7999 8.34497L24.9999 15.3978C24.8999 15.5 24.7999 15.5 24.5999 15.5C24.3999 15.5 24.2999 15.5 24.1999 15.3978C23.9999 15.1934 23.9999 14.8867 24.1999 14.6823L30.1999 8.5494H-9.72748e-05V7.52726Z', fill='#6E6660')

                li.b-aside__filters-item <span class="button-animated js-open-list">Вкус</span>
                    ul.b-aside__drop
                        li.b-aside__drop-item
                            input(type="checkbox" name="dry" id="dry").b-aside__filter-check
                            label(for="dry").b-aside__filter-label Сухое <strong>46099</strong>
                            img(src="img/check.svg").b-aside__check-image
                        li.b-aside__drop-item
                            input(type="checkbox" name="semidry" id="semidry").b-aside__filter-check
                            label(for="semidry").b-aside__filter-label Полусухое <strong>30142</strong>
                            img(src="img/check.svg").b-aside__check-image
                        li.b-aside__drop-item
                            input(type="checkbox" name="semisweet" id="semisweet").b-aside__filter-check
                            label(for="semisweet").b-aside__filter-label Полусладкое <strong>2714</strong>
                            img(src="img/check.svg").b-aside__check-image
                        li.b-aside__drop-item
                            input(type="checkbox" name="sweet" id="sweet").b-aside__filter-check
                            label(for="sweet").b-aside__filter-label Сладкое <strong>64</strong>
                            img(src="img/check.svg").b-aside__check-image
                        li.b-aside__drop-item
                            button.b-aside__drop-btn
                                span Еще
                                svg.b-aside__btn-image(width='32', height='16', viewBox='0 0 32 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M-9.72748e-05 7.52726H30.2999L24.2999 1.39438C24.0999 1.18995 24.0999 0.883304 24.2999 0.678875C24.2999 0.678875 24.3999 0.678876 24.3999 0.576661C24.4999 0.474446 24.6999 0.474446 24.8999 0.576661C24.8999 0.678876 24.8999 0.678875 24.9999 0.78109L31.7999 7.73169C31.8999 7.8339 31.8999 7.8339 31.8999 7.93612C31.8999 7.93612 31.8999 7.93611 31.8999 8.03833C31.8999 8.14054 31.8999 8.24276 31.8999 8.24276C31.8999 8.34497 31.7999 8.34497 31.7999 8.34497L24.9999 15.3978C24.8999 15.5 24.7999 15.5 24.5999 15.5C24.3999 15.5 24.2999 15.5 24.1999 15.3978C23.9999 15.1934 23.9999 14.8867 24.1999 14.6823L30.1999 8.5494H-9.72748e-05V7.52726Z', fill='#6E6660')
