section.b-goods
    .b-goods__top-pagin
        p.b-goods__amount Найдено более <span class="js-goods-amount">1000</span> товаров
        .b-goods__pagin-block
            .b-goods__current-page
                svg.b-goods__prev-page.js-prev-page(width='8', height='14', viewBox='0 0 8 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M7 1L1 7L7 13', stroke='#6E6660')
                span.b-goods__current-number 1
                svg.b-goods__next-page.js-next-page(width='8', height='14', viewBox='0 0 8 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M1 13L7 7L1 1', stroke='#6E6660')

            p из <span class="js-pages-amount">100</span>

    .b-goods__mark-group
        .mark Сладкое

    .b-goods__cards
        ul.b-goods__cards-list
            li.b-goods__cards-item
                .b-card
                    .b-card__label.b-label.b-label--absolute Сухое вино
                    .b-card__img-wrap
                        img.img-responsive(src="img/photos/1.jpg" alt="Photo")
                    .b-card__info
                        h5.b-card__title Вермут «Carpano» Classico, 1 л
                        .b-card__rp RP <strong>90</strong>
                        .b-card__gp GP <strong>90</strong>
                        .b-card__vivino VIVINO <strong>3.6</strong>
                        .b-card__location Испания, Кастилия Ла Манча, Рибера
                    a.b-card__details Подробнее
            li.b-goods__cards-item
                .b-card
                    .b-card__label.b-label.b-label--absolute Сухое вино
                    .b-card__img-wrap
                        img.img-responsive(src="img/photos/2.jpg" alt="Photo")
                    .b-card__info
                        h5.b-card__title Вино Quinta do Crasto, «Vinha da Ponte», Douro DOC 2010
                        .b-card__rp RP <strong>90</strong>
                        .b-card__gp GP <strong>90</strong>
                        .b-card__vivino VIVINO <strong>3.6</strong>
                        .b-card__location Испания, Кастилия Ла Манча, Рибера
                    a.b-card__details Подробнее
            li.b-goods__cards-item
                .b-card
                    .b-card__label.b-label.b-label--absolute Сухое вино
                    .b-card__img-wrap
                        img.img-responsive(src="img/photos/3.jpg" alt="Photo")
                    .b-card__info
                        h5.b-card__title «Новое Русское Вино» Совиньон Блан
                        .b-card__rp RP <strong>90</strong>
                        .b-card__gp GP <strong>90</strong>
                        .b-card__vivino VIVINO <strong>3.6</strong>
                        .b-card__location Испания, Кастилия Ла Манча, Рибера
                    a.b-card__details Подробнее

    .b-goods__cards-big
        .b-card-big
            .b-card__label.b-label.b-label--absolute Сухое вино
            .b-card-big__image
                img.img-responsive(src="img/photos/2-big.png" alt="Photo")
            .b-card-big__text
                h5.b-card-big__title Вино Luc Massy Dezaley Grand Cru “Chemin de Terre”, Vaud, Switzerland, 2019
                .b-card-big__info
                    .b-card__rp RP <strong>90</strong>
                        .b-card__gp GP <strong>90</strong>
                        .b-card__vivino VIVINO <strong>3.6</strong>
                        .b-card__location Испания, Кастилия Ла Манча, Рибера
                a.b-card__details Подробнее

        .b-card-big
            .b-card__label.b-label.b-label--absolute Сухое вино
            .b-card-big__image
                img.img-responsive(src="img/photos/2-big.png" alt="Photo")
            .b-card-big__text
                h5.b-card-big__title Вино Luc Massy Dezaley Grand Cru “Chemin de Terre”, Vaud, Switzerland, 2019
                .b-card-big__info
                    .b-card__rp RP <strong>90</strong>
                        .b-card__gp GP <strong>90</strong>
                        .b-card__vivino VIVINO <strong>3.6</strong>
                        .b-card__location Испания, Кастилия Ла Манча, Рибера
                a.b-card__details Подробнее

    .b-goods__cards
        ul.b-goods__cards-list
            li.b-goods__cards-item
                .b-card
                    .b-card__label.b-label.b-label--absolute Сухое вино
                    .b-card__img-wrap
                        img.img-responsive(src="img/photos/4.jpg" alt="Photo")
                    .b-card__info
                        h5.b-card__title Вино «Lucente», 2011, wooden box, 1.5 л
                        .b-card__rp RP <strong>90</strong>
                        .b-card__gp GP <strong>90</strong>
                        .b-card__vivino VIVINO <strong>3.6</strong>
                        .b-card__location Испания, Кастилия Ла Манча, Рибера
                    a.b-card__details Подробнее
            li.b-goods__cards-item
                .b-card
                    .b-card__label.b-label.b-label--absolute Сухое вино
                    .b-card__img-wrap
                        img.img-responsive(src="img/photos/5.jpg" alt="Photo")
                    .b-card__info
                        h5.b-card__title Вино Cruse, Merlot, Vin de Pays d’Oc
                        .b-card__rp RP <strong>90</strong>
                        .b-card__gp GP <strong>90</strong>
                        .b-card__vivino VIVINO <strong>3.6</strong>
                        .b-card__location Испания, Кастилия Ла Манча, Рибера
                    a.b-card__details Подробнее
            li.b-goods__cards-item
                .b-card
                    .b-card__label.b-label.b-label--absolute Сухое вино
                    .b-card__img-wrap
                        img.img-responsive(src="img/photos/6.jpg" alt="Photo")
                    .b-card__info
                        h5.b-card__title Вино Fontana Candida, «Cannellino», Frascati DOC, 2012
                        .b-card__rp RP <strong>90</strong>
                        .b-card__gp GP <strong>90</strong>
                        .b-card__vivino VIVINO <strong>3.6</strong>
                        .b-card__location Испания, Кастилия Ла Манча, Рибера
                    a.b-card__details Подробнее

    .b-goods__cards.b-goods__cards--last
        ul.b-goods__cards-list
            li.b-goods__cards-item
                .b-card
                    .b-card__label.b-label.b-label--absolute Сухое вино
                    .b-card__img-wrap
                        img.img-responsive(src="img/photos/7.jpg" alt="Photo")
                    .b-card__info
                        h5.b-card__title Портвейн Quinta do Crasto, Porto Finest Reserve
                        .b-card__rp RP <strong>90</strong>
                        .b-card__gp GP <strong>90</strong>
                        .b-card__vivino VIVINO <strong>3.6</strong>
                        .b-card__location Испания, Кастилия Ла Манча, Рибера
                    a.b-card__details Подробнее
            li.b-goods__cards-item
                .b-card
                    .b-card__label.b-label.b-label--absolute Сухое вино
                    .b-card__img-wrap
                        img.img-responsive(src="img/photos/8.jpg" alt="Photo")
                    .b-card__info
                        h5.b-card__title Вино Patriarche, Chardonnay, Vin de pays, 187 мл
                        .b-card__rp RP <strong>90</strong>
                        .b-card__gp GP <strong>90</strong>
                        .b-card__vivino VIVINO <strong>3.6</strong>
                        .b-card__location Испания, Кастилия Ла Манча, Рибера
                    a.b-card__details Подробнее
            li.b-goods__cards-item
                .b-card
                    .b-card__label.b-label.b-label--absolute Сухое вино
                    .b-card__img-wrap
                        img.img-responsive(src="img/photos/9.jpg" alt="Photo")
                    .b-card__info
                        h5.b-card__title Вино Bolla, «TTT» Valpolicella Classico DOC, 2012
                        .b-card__rp RP <strong>90</strong>
                        .b-card__gp GP <strong>90</strong>
                        .b-card__vivino VIVINO <strong>3.6</strong>
                        .b-card__location Испания, Кастилия Ла Манча, Рибера
                    a.b-card__details Подробнее

    .b-goods__bottom-pagin
        .b-goods__pag-group
            svg.b-goods__pag-prev.js-b-page-left(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                circle(cx='12', cy='12', r='9.5', stroke='#271317', stroke-opacity='0.1')
                path(d='M17 12L17.3536 12.3536L17.7071 12L17.3536 11.6464L17 12ZM12.3536 6.64645C12.1583 6.45118 11.8417 6.45118 11.6464 6.64645C11.4512 6.84171 11.4512 7.15829 11.6464 7.35355L12.3536 6.64645ZM11.6464 16.6464C11.4512 16.8417 11.4512 17.1583 11.6464 17.3536C11.8417 17.5488 12.1583 17.5488 12.3536 17.3536L11.6464 16.6464ZM7 12.5H17V11.5H7V12.5ZM11.6464 7.35355L16.6464 12.3536L17.3536 11.6464L12.3536 6.64645L11.6464 7.35355ZM16.6464 11.6464L11.6464 16.6464L12.3536 17.3536L17.3536 12.3536L16.6464 11.6464Z', fill='#6E6660')

            ul.b-goods__pag-list
                li.b-goods__pag-item
                    a.b-goods__pag-link(href) 1
                li.b-goods__pag-item
                    a.b-goods__pag-link(href) 2
                li.b-goods__pag-item
                    span ...
                li.b-goods__pag-item
                    a.b-goods__pag-link(href) 99
                li.b-goods__pag-item
                    a.b-goods__pag-link(href) 100

            svg.b-goods__pag-next.js-b-page-right(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                circle(cx='12', cy='12', r='9.5', stroke='#271317', stroke-opacity='0.1')
                path(d='M17 12L17.3536 12.3536L17.7071 12L17.3536 11.6464L17 12ZM12.3536 6.64645C12.1583 6.45118 11.8417 6.45118 11.6464 6.64645C11.4512 6.84171 11.4512 7.15829 11.6464 7.35355L12.3536 6.64645ZM11.6464 16.6464C11.4512 16.8417 11.4512 17.1583 11.6464 17.3536C11.8417 17.5488 12.1583 17.5488 12.3536 17.3536L11.6464 16.6464ZM7 12.5H17V11.5H7V12.5ZM11.6464 7.35355L16.6464 12.3536L17.3536 11.6464L12.3536 6.64645L11.6464 7.35355ZM16.6464 11.6464L11.6464 16.6464L12.3536 17.3536L17.3536 12.3536L16.6464 11.6464Z', fill='#6E6660')

